<div class="containerAddVotacion">
  <div class="containerAttributeFirstAddVotacion">
    <mat-form-field class="fieldFormVotacion" [ngClass]="errors.pregunta ? 'errorVotacion' : ''">
      <textarea class="inputForm" style="resize: none;" matInput placeholder="Pregunta" rows=2 [(ngModel)]="data.pregunta" name="pregunta" maxlength="58" (change)="removeError('pregunta')"></textarea>
    </mat-form-field>
    <div *ngIf="errors.pregunta" class="errorDescrip">
      <span>{{errorTypes.pregunta[errors.pregunta]}}</span>
    </div>
  </div>
  <div class="containerAttributeAddVotacion">
    <mat-form-field class="fieldFormVotacion" [ngClass]="errors.departamento ? 'errorVotacion' : ''">
      <mat-select class="inputForm" placeholder="Departamento" [(ngModel)]="data.departamento" name="departamento" (selectionChange)="removeError('departamento')">  
        <mat-option *ngFor="let dpt of departamentos" [value]="dpt">{{dpt}}</mat-option>
      </mat-select>    
    </mat-form-field>
    <div *ngIf="errors.departamento" class="errorDescrip">
      <span>{{errorTypes.departamento[errors.departamento]}}</span>
    </div>
  </div>
  <div class="containerAttributeAddVotacion">
    <mat-form-field class="fieldFormVotacion" [ngClass]="errors.f_votacion ? 'errorVotacion' : ''">
      <mat-label>Fecha de votación</mat-label>
      <input matInput [matDatepicker]="picker" [min]="minDate" [matDatepickerFilter]="myFilter"
      [(ngModel)]="data.f_votacion" name="f_votacion" (dateInput)="removeError('f_votacion')">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <div *ngIf="errors.f_votacion" class="errorDescrip">
      <span>{{errorTypes.f_votacion[errors.f_votacion]}}</span>
    </div>
  </div>
  <div class="containerAttributeLastAddVotacion">
    <mat-form-field class="fieldFormVotacion" [ngClass]="errors.ambito ? 'errorVotacion' : ''">
      <mat-select class="inputForm" [(value)]="selected" placeholder="Ámbito" [(ngModel)]="data.ambito" name="ambito" (selectionChange)="removeError('ambito')">
        <mat-option value="Pública">Pública</mat-option>
        <mat-option value="Departamento">Departamento</mat-option>
        <mat-option value="Privada">Privada</mat-option>
        <mat-option value="Oculta">Oculta</mat-option>
      </mat-select>
    </mat-form-field>
    <div *ngIf="!errors.ambito" class="ambitoDescrip">
      <span>{{ambitoDescripcion[selected]}}</span>
    </div>
    <div *ngIf="errors.ambito" class="errorDescrip">
      <span>{{errorTypes.ambito[errors.ambito]}}</span>
    </div>
  </div>
</div>