::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-thumb {
    background-color: #A26850 !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-slide-toggle-bar {
    background-color: #D1967D !important;
}

::ng-deep .mat-slide-toggle.mat-checked .mat-ripple-element {
    background-color: #D1967D !important;
}

.divNoVotacion {
    display: flex;
    margin: 30px 0px;
}

.textNoVotacion {
    color: #ADADAD;
    font-size: 18px;
    font-style: italic;
    margin: auto;
}