.rowPuntos {
    width: 100%; 
    margin-top: 3%;
    /*position: fixed; 
    bottom: 12%; */
}

.contentNewVotacion{
    height: 103vw;
    border: 1px #272343 solid;
}

.rowPuntos2 {
    display: grid;
    margin: auto;
    width: 50%;
    grid-template-columns: repeat( auto-fit, minmax(16%, 1fr) );    
}

.circulo {
    background-color: #D1967D;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: auto;
}

.circuloSelected {
    background-color: #DCF4F4;
}

.flecha {
    font-size: 30px;
    color: #D1967D;
    margin-left: 10px;
    margin-right: 10px;
}

.titlePanel {
    margin-bottom: 0px;
    padding-top: 3%;
    padding-left: 15%;
}

.titlePanelH2 {
    color: #D1967D;
    font-size: 2em;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
}

.subtitlePanelH3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 12%;
}

.formContainer {
    width: 100%;
}

/* input color class */
::ng-deep .mat-input-element {
    /*color: #e6e1dc !important;*/
    color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white !important;
}

::ng-deep .mat-select-value-text {
    color: white !important;
}

::ng-deep .mat-form-field-label {
    color: #B9B9B9 !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #B9B9B9 !important;
}
  
  /* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  #D1967D !important;
}
  
  /* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:  #D1967D !important;
}

input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #272343;
  transition: background-color 5000s ease-in-out 0s;
}