::ng-deep .flechaNewParticipante{
    color: #B9B9B9; 
    font-size: 15px;
    width: 8%;
}

::ng-deep .dptoNewParticipante {
    color: #B9B9B9;
    font-weight: normal;
    font-size: 15px;
}

::ng-deep .totalParticipantes {
    color: #B9B9B9;
    font-size: 18px;
    margin-bottom: 5%;
}

::ng-deep .dptoCounter{
    position: absolute !important;
    right: 1%;
    color: #B9B9B9;
}

::ng-deep .scrollOptions90 {
    height: 90vw !important; 
}

::ng-deep .iconDptSquareVotacion {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-right: 0px;
}

::ng-deep .userDivVotacion {
    color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px !important;
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .containerValores .mat-checkbox-label {
    width: 90% !important;
}

::ng-deep .userData {
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .iconDptVotacion {
    padding-left: 10px;
}

::ng-deep .datosDivVotacion {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

::ng-deep .containerValores .mat-checkbox-inner-container {
    margin-left: 0px !important;
}

::ng-deep .containerValores .mat-checkbox-checked .mat-checkbox-background,
.containerValores .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .containerValores .mat-checkbox-frame {
    border: 1px solid white !important;
    border-radius: 5px !important;
}

::ng-deep .containerValores .mat-checkbox-checked .mat-checkbox-frame,
.userDivVotacion .mat-checkbox-indeterminate .mat-checkbox-frame {
    border: 1px solid white !important;
}

::ng-deep .containerValores .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #D1967D !important;
    /*background-color: #272343;*/
}

::ng-deep .containerValores .mat-checkbox-checkmark-path {
    stroke: white !important;
}

/*
::ng-deep .iconDptFinanzasSelected {
    background-color: rgba(120, 139, 44, 0.9);
}

::ng-deep .iconDptAdministraciónSelected {
    background-color: rgba(194,200,211,0.9);
}

::ng-deep .iconDptDirecciónSelected {
    background-color: rgba(218,171,96,0.9);
}

::ng-deep .iconDptMarketingSelected {
    background-color: rgba(209,132,220,0.9);
}*/