<div class="dialogoFiltro">
  <div class="grupoFiltro">
      <label class="labelFiltro">PREGUNTA</label><br>
      <mat-form-field class="inputFiltro">
        <mat-label>Búsqueda por palabras</mat-label>
        <input class="inputForm" matInput>
      </mat-form-field>
  </div>
  <div class="grupoFiltro">
      <label class="labelFiltro">ESTADO</label>
      <div>
        <mat-checkbox class="checkboxFiltro">Activa</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">En proceso</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Finalizada</mat-checkbox>
      </div>  
  </div>
  <div class="grupoFiltro">
      <label class="labelFiltro">DEPARTAMENTO</label>
      <div>
        <mat-checkbox class="checkboxFiltro">Administración</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Dirección</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Marketing</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Finanzas</mat-checkbox>
      </div>  
  </div>
  <div class="grupoFiltro">
      <label class="labelFiltro">ÁMBITO</label>
      <div>
        <mat-checkbox class="checkboxFiltro">Pública</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Privada</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Departamento</mat-checkbox><br>
        <mat-checkbox class="checkboxFiltro">Oculta</mat-checkbox>
      </div>  
  </div>
</div>