<div class="titlePanel">
    <label class="titlePanelH2">Listado de votaciones</label>
</div>
<div class="subtitlePanel allContent85">
    <div class="formContainer menuZonaFiltro">
        <div class="menuOrden">
            <mat-form-field class="fieldForm">
              <mat-select class="inputForm" placeholder="Orden" [(value)]="order">
                <mat-option value="Descendente">Descendente</mat-option>
                <mat-option value="Ascendente">Ascendente</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="menuFiltro">
            <i class="fas fa-sliders-h filterIcon" (click)="openDialog()"></i>
        </div>
    </div>
</div>

<div class="listadoPanel allContent90">
    <div class="formContainer" *ngFor="let mes of votaciones | keyvalue | orderBy:order:true:false">
        <div class="containerDptoNewParticipante" (click)="mostrarOcultar(mes.key)">
            <i class="fas flechaNewParticipante fa-chevron-down" id="flecha{{mes.key}}"></i>
            <label class="mesListaVotacion">{{mes.key | date: 'MMMM yyyy' | titlecase}}</label>
        </div>
        <div id="votacionesMes{{mes.key}}">
            <mat-card *ngFor="let vot of mes.value | orderBy:order:true:true:'fecha'" class="elementoListaVotacion" 
            [class]="'elementoListaVotacion' + vot.estado" [routerLink]="['/votacion', vot.codigo]" [queryParams]="{home: false}">
                <div class="preguntaListaVotacion">
                    {{vot.pregunta}}
                </div>
                <div class="datosListaVotacion" [class]="'datosListaVotacion' + vot.estado">
                    <label class="dptoListaVotacion">{{vot.departamento}}</label><br>
                    {{vot.f_votacion | date: 'EEEE dd' | titlecase}}
                </div><br>
            </mat-card>
        </div>
    </div>
</div>
