<!--<button (click)=alterna()>Cambia</button>-->

<footer class="footer" [ngClass] = "admin ? '' : 'rowFooter3'">
  <div class="rowFooter">
    <div class="item" *ngFor="let opt of options">
      <span *ngIf='opt == 6'></span>
      <img *ngIf='opt != 6' routerLink="{{pages[opt]}}" id="icon{{opt}}" [ngClass] = "admin ? 'icon-footer-size' : 'icon-footer-size3'" 
      (click)="page = opt" [src]="page == opt ? 'assets/icons/selected/' + opt + '.png' : 'assets/icons/' + opt + '.png'"/>
    </div>
  </div>
</footer>
