<div class="allContent85 encabezadoVotante">
    <div class="containerDivIconUser">
        <div class="iconDptDivUser">
            <div *ngIf="listaDepartamentos[usuario.departamento]" class="iconDptSquareVotante" [ngStyle]="{'background-color': listaDepartamentos[usuario.departamento].color}">
                <i class="fas" [ngClass]="[listaDepartamentos[usuario.departamento].icon, listaDepartamentos[usuario.departamento].iconDpt+'Votante']"></i>
            </div>
        </div>
    </div>
    <div class="containerNombreUser">
        <div class="nombreVotante">
            {{usuario.nombre}} {{usuario.apellidos}}
        </div>
    </div>
    <div class="divBotonModify divBotonConfirmarModify" (click)="confirmarModify()">
        <i class="fas fa-check botonEditarVotante"></i>
    </div>
    <div class="divBotonModify divBotonCancelarModify" [routerLink]="['/user',dni]" [queryParams]="{profile: profile}">
        <i class="fas fa-times botonEditarVotante"></i>
    </div>
</div>
<div class="allContent85 panelUserDatos">
    <form>
        <label class="headerDatosVotante">Datos</label>
        <div class="datosVotante">
            <div class="elementoVotante">
                <i class="fas fa-id-card iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.nombre" name="nombre" maxlength=20 (change)="removeError('nombre')"/>        
                <i *ngIf="errors['nombre']" class="fas fa-exclamation-triangle alertModify" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.nombre[errors['nombre']]" [matTooltipPosition]="'below'"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-font iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.apellidos" name="apellidos" maxlength=35 (change)="removeError('apellidos')"/>
                <i *ngIf="errors['apellidos']" class="fas fa-exclamation-triangle alertModify" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.apellidos[errors['apellidos']]" [matTooltipPosition]="'below'"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-phone iconVotante"></i>
                <input type="number" class="inputModifyUser" [(ngModel)]="usuario.telefono" name="telefono" (change)="removeError('telefono')"/>
                <i *ngIf="errors['telefono']" class="fas fa-exclamation-triangle alertModify" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.telefono[errors['telefono']]" [matTooltipPosition]="'below'"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-envelope iconVotante"></i>
                <input type="mail" class="inputModifyUser" [(ngModel)]="usuario.mail" name="mail" maxlength=40 (change)="removeError('mail')"/>
                <i *ngIf="errors['mail']" class="fas fa-exclamation-triangle alertModify" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.mail[errors['mail']]" [matTooltipPosition]="'below'"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-building iconVotante"></i>
                <mat-form-field id="selectModifyUser" class="inputModifyUser selectModifyUser">
                    <mat-select [(ngModel)]="usuario.departamento" name="departamento">  
                        <mat-option *ngFor="let dpt of departamentos" [value]="dpt">{{dpt}}</mat-option>
                    </mat-select>    
                </mat-form-field>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-sitemap iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.cargo" name="cargo" maxlength=40 (change)="removeError('cargo')"/>
                <i *ngIf="errors['cargo']" class="fas fa-exclamation-triangle alertModify" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.cargo[errors['cargo']]" [matTooltipPosition]="'below'"></i>
            </div>
        </div>

        <label *ngIf="showPasswdField" class="headerDatosVotante">Contraseña</label>
        <i *ngIf="showPasswdField && errors['passwd']" class="fas fa-exclamation-triangle alertModifyPasswd" #tooltip="matTooltip" 
                (click)="tooltip.toggle()" [matTooltip]="errorTypes.passwd[errors['passwd']]" [matTooltipPosition]="'below'"></i>
        <div *ngIf="showPasswdField" class="datosVotante">
            <div class="elementoVotante">
                <i class="fas fa-lock iconVotante"></i>
                <input type="password" id="inputActual" class="inputModifyUser" [(ngModel)]="actual" name="actual" placeholder="Contraseña actual" (change)="removeError('passwd')"/>
                <i class="fas fa-eye iconEyeModifyPasswd" (click)="showHidePasswd('actual')"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-unlock iconVotante"></i>
                <input type="password" id="inputNueva" class="inputModifyUser" [(ngModel)]="nueva" name="nueva" placeholder="Nueva contraseña" (change)="removeError('passwd')"/>
                <i class="fas fa-eye iconEyeModifyPasswd" (click)="showHidePasswd('nueva')"></i>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-lock-open iconVotante"></i>
                <input type="password" id="inputRepetir" class="inputModifyUser" [(ngModel)]="repetir" name="repetir" placeholder="Repetir contraseña" (change)="removeError('passwd')"/>
                <i class="fas fa-eye iconEyeModifyPasswd" (click)="showHidePasswd('repetir')"></i>
            </div>
        </div>
    </form>
</div>