<div class="contentVotacion allContent100">
    <div class="panelVotacion">
        <div class="panelSuperiorVotacion">
            <div class="panelBotonesVotacion">
                <div class="divBotonBackVotacion" [routerLink]="['/votacion', codigo]" [queryParams]="{home: false}">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
            </div>
            <mat-card class="panelPreguntaVotacion">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="pregunta" [readonly]="true"></textarea>
            </mat-card>
        </div>
        <mat-card class="panelInferiorVotar">
            <b style="text-align: center">{{completed.length}} de {{total}}</b>
            <p><ngb-progressbar type="success" [value]="progress"></ngb-progressbar></p>
            <div *ngFor="let part of completed">
                <label>{{part}}</label><br>
            </div>
            <button  *ngIf="canStart" (click)="start()">Start</button><br>
        </mat-card>
    </div>
</div>

