<div class="contentVotacion allContent100">
    <div class="panelVotacion">
        <div class="panelSuperiorVotacion">
            <div class="panelBotonesVotacion">
                <div class="divBotonBackVotacion" [routerLink]="['/votacion', codigo]" [queryParams]="{home: false}">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
            </div>
            <mat-card class="panelPreguntaVotacion">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="pregunta" [readonly]="true"></textarea>
            </mat-card>
        </div>
        <mat-card class="panelInferiorVotacion">
            <div class="containerElementosVotacionSpinner">
                <div class="containerDivResultados">
                    <div codigo="subcontainerDivResultados" class="subcontainerDivResultados" [ngClass]="'containerDivResultados' + totalOpciones">
                        <div class="containerTituloResultados">
                            Resultados de la votación
                        </div>
                        <div *ngFor="let opt of opciones; let i = index" class="divResultVotacion">
                            <div class="containerPreguntaResultVotacion">
                                <label [ngClass]="opt.total == maximo ? 'preguntaResultVotacionWinner' : 'preguntaResultVotacion'">{{opt.opcion}}</label>
                                <div class="votosResultVotacion">
                                    <label class="cuadradoVotosResultVotacion">{{opt.total_votos}}</label>
                                </div>
                            </div>
                            <div class="containerBarraResultVotacion">
                                <div [style.width]="opt.width + '%'" class="subcontainerBarraResultVotacion">
                                    <div [ngClass]="opt.total_votos == maximo ? 'barraResultVotacionWinner' : 'barraResultVotacion'"></div>
                                </div>
                                <div class="subcontainerBarraResultVotacionInversa">
                                    <div class="barraResultVotacionInversa"></div>
                                </div>
                            </div>
                            
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>
