<div class="containerWaitingPage">
    <div class="containerTextWaitingPage">
        <label class="textWaitingPage">La votación se está gestionando</label>
    </div>
    <div class="containerAnimationWaitingPage">
        <div class="divImgAnimacionWait">
            <img id="sobreAnimacionWait" src="assets\icons\sobre.png">
        </div>
        <div id="urnaAnimacionWait">
            <hr class="lineaUrnaWait" />
            <div class="containerPuntosAnimacionWait">
                <div class="puntosAnimacionWait">
                    <div class="lineAnimacionWait"></div>
                    <div class="lineAnimacionWait"></div>
                    <div class="lineAnimacionWait"></div>
                </div>
            </div>
        </div>
    </div>
    <div class="containerTextWaitingPage2">
        <label class="textWaitingPage">Los resultados se<br>conocerán en breve</label>
    </div>
</div>