<div class="allContent85 encabezadoVotante">
    <div class="containerDivIconUser">
        <div class="iconDptDivUser">
            <div class="iconDptSquareVotante" [class]="'iconDpt' + usuarios[dni].departamento">
                <i *ngIf="usuarios[dni].departamento == 'Finanzas'" class="fas fa-euro-sign iconDptVotante"></i>
                <i *ngIf="usuarios[dni].departamento == 'Marketing'" class="fas fa-chart-line iconDptVotante"></i>
                <i *ngIf="usuarios[dni].departamento == 'Administración'" class="fas fa-tasks iconDptVotante"></i>
                <i *ngIf="usuarios[dni].departamento == 'Dirección'" class="fas fa-user-tie iconDptVotante"></i>
            </div>
        </div>
    </div>
    <div class="containerNombreUser">
        <div class="nombreVotante">
            {{usuarios[dni].nombre}} {{usuarios[dni].apellido}}
        </div>
    </div>
    <div *ngIf="!profile" class="divBotonModify divBotonBackModify" routerLink="/users">
        <i class="fas fa-angle-left botonBackVotante"></i>
    </div>
    <div *ngIf="!profile" class="divBotonModify divBotonEditarVotante" [routerLink]="['/modifyUser',dni]" [queryParams]="{profile: profile}">
        <i class="fas fa-pen botonEditarVotante"></i>
    </div>
    <div *ngIf="profile" class="divBotonModify divBotonEditarVotanteLeft" [routerLink]="['/modifyUser',dni]" [queryParams]="{profile: profile}">
        <i class="fas fa-pen botonEditarVotante"></i>
    </div>
    <div *ngIf="profile" class="divBotonModify divBotonEditarVotante" routerLink="/login">
        <i class="fas fa-power-off botonBackVotante"></i>
    </div>
</div>

<div class="allContent85 panelUserDatos">
    <label class=" headerDatosVotante">Datos</label>
    <div class="datosVotante">
        <div class="elementoVotante">
            <i class="fas fa-id-card iconVotante"></i>
            {{usuarios[dni].dni}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-phone iconVotante"></i>
            {{usuarios[dni].telefono}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-envelope iconVotante"></i>
            {{usuarios[dni].correo}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-building iconVotante"></i>
            {{usuarios[dni].departamento}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-sitemap iconVotante"></i>
            {{usuarios[dni].cargo}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-calendar-plus iconVotante"></i>
            {{usuarios[dni].fechaRegistro | date: 'fullDate' | titlecase}}
        </div>
    </div>
    
    <label class="headerDatosVotante">Contraseña</label>
    <div class="datosVotante">
        <div class="elementoVotante">
            <i class="fas fa-key iconVotante"></i>
            ********
        </div>
    </div>
</div>