<div class="homePanel">
    <div class="panelEncabezadoHome">
        <div class="panelLogoHome">
            <img alt="Logo Home" class="logoHome" src="assets\icons\logo-reduced.svg" />
        </div>
        <div class="panelWelcomeHome">
            <div class="welcomeHome">
                Bienvenido,
            </div>
            <div class="welcomeNameHome" [ngClass]="longitud > 10 ? 'welcomeNameLong' : 'welcomeNameShort'">
                {{nombre}}
            </div>
        </div>
    </div>
    <div class="panelCardsHome" *ngIf="admin">
        <hr class="hrHome"/>
        <div class="panelAddHome">
            <mat-card class="cardHomeAdmin cardHomeAdd" routerLink="/nuevaVotacion">
                <div class="divIconAddHome">
                    <i class="fas fa-plus botonAddHome"></i>
                </div>
                <div class="labelAddHome">
                    Crear una votación
                </div>
            </mat-card>
            <mat-card class="cardHomeAdmin cardHomeAdd" routerLink="/nuevoUser">
                <div class="divIconAddHome">
                    <i class="fas fa-plus botonAddHome"></i>
                </div>
                <div class="labelAddHome">
                    Registrar un votante
                </div>
            </mat-card>
        </div>
        <hr class="hrHome"/>
        <div class="divTitleCardsHomeAdmin">
            <div class="titleCardsHomeAdmin">
                Votaciones cercanas
            </div>
        </div>
        <div class="divCardsHomeAdmin">
            <div class="subdivCardsHomeAdmin">
                <mat-card *ngFor="let vot of votaciones; let i = index" class="cardHomeAdmin" 
                [ngClass]="votaciones[i] ? 'cardColorOpcion' + i : 'cardNotDisplay'" [routerLink]="['/votacion',vot.codigo]" [queryParams]="{home: true}">
                    <div class="preguntaAdminHome">{{vot.pregunta}}</div>
                    <div class="fechaAdminHome">{{vot.f_votacion | date: 'd MMMM'}}</div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="panelCardsHome" *ngIf="!admin && activas.length == 0">
        <div class="divTitleCardsHomeAdmin">
            <div class="titleCardsHomeAdmin">
                Votaciones cercanas
            </div>
        </div>
        <div class="divCardsHomeVotante">
            <div class="subdivCardsHomeVotante">
                <mat-card *ngFor="let vot of votaciones; let i = index" class="cardHomeAdmin" 
                [ngClass]="votaciones[i] ? 'cardColorOpcion' + i : 'cardNotDisplay'" [routerLink]="['/votacion',vot.codigo]" [queryParams]="{home: true}">
                    <div class="preguntaAdminHome">{{vot.pregunta}}</div>
                    <div class="fechaAdminHome">{{vot.f_votacion | date: 'd MMMM'}}</div>
                </mat-card>
            </div>
        </div>
    </div>

    <div class="panelCardsHome" *ngIf="!admin && activas.length > 0">
        <div class="divTitleCardsHomeAdmin">
            <div class="titleCardsHomeAdmin">
                Votaciones activas
            </div>
        </div>
        <div class="divCardsHomeVotanteActivas">
            <mat-card *ngFor="let vot of activas; let i = index" class="cardHomeAdmin" 
                [ngClass]="votaciones[i] ? 'cardColorOpcion' + i : 'cardNotDisplay'" [routerLink]="['/votacion',vot.codigo]" [queryParams]="{home: true}">
                    <div class="preguntaAdminHome">{{vot.pregunta}}</div>
                    <div class="fechaAdminHome">{{vot.f_votacion | date: 'd MMMM'}}</div>
            </mat-card>
        </div>
        <div class="divTitleCardsHomeAdmin">
            <div class="titleCardsHomeAdmin">
                Votaciones cercanas
            </div>
        </div>
        <div class="divCardsHomeAdmin">
            <div class="subdivCardsHomeAdmin">
                <mat-card *ngFor="let vot of votaciones; let i = index" class="cardHomeAdmin" 
                [ngClass]="votaciones[i] ? 'cardColorOpcion' + (i + 2) : 'cardNotDisplay'" [routerLink]="['/votacion',vot.codigo]" [queryParams]="{home: true}">
                    <div class="preguntaAdminHome">{{vot.pregunta}}</div>
                    <div class="fechaAdminHome">{{vot.f_votacion | date: 'd MMMM'}}</div>
                </mat-card>
            </div>
        </div>
    </div>
</div>