<div class="allContent85 encabezadoVotante">
    <div class="containerDivIconUser">
        <div class="iconDptDivUser">
            <div class="iconDptSquareVotante" [class]="'iconDpt' + usuario.departamento">
                <i *ngIf="usuario.departamento == 'Finanzas'" class="fas fa-euro-sign iconDptVotante"></i>
                <i *ngIf="usuario.departamento == 'Marketing'" class="fas fa-chart-line iconDptVotante"></i>
                <i *ngIf="usuario.departamento == 'Administración'" class="fas fa-tasks iconDptVotante"></i>
                <i *ngIf="usuario.departamento == 'Dirección'" class="fas fa-user-tie iconDptVotante"></i>
            </div>
        </div>
    </div>
    <div class="containerNombreUser">
        <div class="nombreVotante">
            {{usuario.nombre}} {{usuario.apellidos}}
        </div>
    </div>
    <div class="divBotonModify divBotonConfirmarModify" (click)="confirmarModify()">
        <i class="fas fa-check botonEditarVotante"></i>
    </div>
    <div class="divBotonModify divBotonCancelarModify" [routerLink]="['/user',dni]" [queryParams]="{profile: profile}">
        <i class="fas fa-times botonEditarVotante"></i>
    </div>
</div>
<div class="allContent85 panelUserDatos">
    <form>
        <label class="headerDatosVotante">Datos</label>
        <div class="datosVotante">
            <div class="elementoVotante">
                <i class="fas fa-id-card iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.nombre" name="nombre" required/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-font iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.apellidos" name="apellidos" required/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-phone iconVotante"></i>
                <input type="number" class="inputModifyUser" [(ngModel)]="usuario.telefono" name="telefono" required/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-envelope iconVotante"></i>
                <input type="mail" class="inputModifyUser" [(ngModel)]="usuario.mail" name="mail" required/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-building iconVotante"></i>
                <mat-form-field id="selectModifyUser" class="inputModifyUser selectModifyUser">
                    <mat-select [(ngModel)]="usuario.departamento" name="departamento" required>  
                        <mat-option *ngFor="let dpt of departamentos" [value]="dpt">{{dpt}}</mat-option>
                    </mat-select>    
                </mat-form-field>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-sitemap iconVotante"></i>
                <input class="inputModifyUser" [(ngModel)]="usuario.cargo" name="cargo" required/>
            </div>
        </div>

        <label class="headerDatosVotante">Contraseña</label>
        <div class="datosVotante">
            <div class="elementoVotante">
                <i class="fas fa-lock iconVotante"></i>
                <input type="password" class="inputModifyUser" [(ngModel)]="actual" name="actual" required placeholder="Contraseña actual"/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-unlock iconVotante"></i>
                <input type="password" class="inputModifyUser" [(ngModel)]="nueva" name="nueva" required placeholder="Nueva contraseña"/>
            </div>
            <hr class="hrVotante"/>
            <div class="elementoVotante">
                <i class="fas fa-lock-open iconVotante"></i>
                <input type="password" class="inputModifyUser" [(ngModel)]="repetir" name="repetir" required placeholder="Repetir contraseña"/>
            </div>
        </div>
    </form>
</div>