.panelVotacion {
    height: 100%;
    background-color: #DCF6F5;
}

.panelSuperiorVotacion {
    height: 32%;
}

.panelInferiorVotacion {
    height: 69%;
    background-color: #272343;
    border: 0px solid black;
    border-radius: 0px;
    border-top-right-radius: 30px !important;
    box-shadow: none;
    position: relative;
}

.panelBotonesVotacion {
    height: 20%;
}

.panelPreguntaVotacion {
    height: 60%;
    background-color: #272343;
    width: 70%;
    margin-left: 15%;
    border-top-right-radius: 0px;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    border-bottom-left-radius: 0px;
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
}

.preguntaVotacion {
    margin: auto !important;
    line-height: 30px;
}

.panelFechaVotacion{
    background-color: #D1967D;
    width: 33%;
    border-radius: 10px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    position: absolute;
    top: -21.5px;
    right: 30px;
    padding: 0px;
}

.fechaVotacion {
    padding: 8px;
    margin: auto !important;
}

.panelEstadoVotacion {
    width: 33%;
    border-radius: 10px;
    /* color: white; */
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    position: absolute;
    top: -21.5px;
    left: 30px;
    padding: 0px;
}

.panelEstadoVotacionActiva {
    background-color:  #80BD23; 
}

.panelEstadoVotacionCreada {
    background-color:  #E8A929;
}

.panelEstadoVotacionFinalizada {
    background-color:  #C63030; 
}

.separadorVotacion {
    height: 10px;
}

.elementoVotacion {
    margin: 25px;
    height: 50px;
    display: flex;
}

.iconElementoVotacion {
    height: 100%;
    width: 20%;
}

.textElementoVotacion {
    height: 100%;
    width: 65%;
    position: flex;
}

.actionElementoVotacion {
    height: 100%;
    width: 15%;
    position: relative;
}

.firstTextElementoVotacion {
    width: 100% !important;
    height: 60%;
    color: white;
    font-size: 20px;
}

.secondTextElementoVotacion {
    width: 100% !important;
    height: 40%;
    color: gray;
    font-size: 16px;
}

.secondTextElementoVotacionDescripcion {
    width: 100% !important;
    height: 60%;
    color: gray;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.iconDivElementoVotacion {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #DCF6F5;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

.iconVotacion {
    font-size: 25px;
    padding-top: 7.5px;
    color: #272343;
}

.iconVotacionAmbito {
    font-size: 20px;
    padding-top: 10px;
    color: #272343;
}

.actionDivElementoVotacion {
    position: absolute;
    right: 0;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background-color: #DCF6F5;
    border-radius: 10px;
    text-align: center;
}

.actionVotacion {
    font-size: 20px;
    padding-top: 5px;
    color: #272343;
}

.actionVotacionPen {
    font-size: 15px;
    padding-top: 7.5px;
    color: #272343;
}

.panelBotonParticiparVotacion {
    width: 33%;
    border-radius: 0px;
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    position: absolute;
    top: -21.5px;
    left: 30px;
    padding: 0px;
    background: #cb4e4e;
    box-shadow: 0 8px #ab3c3c;
    border: none;
    outline: none;
    -webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
    transition: all 0.3s;
    border-radius: 10px;
}

.panelBotonParticiparVotacion:after {
	-webkit-transition: all 0.3s;
	-moz-transition: all 0.3s;
	transition: all 0.3s;
}

.panelBotonParticiparVotacion:before {
	-webkit-font-smoothing: antialiased;
}
.panelBotonParticiparVotacion:active {
    top: -13.5px;
    box-shadow: none;
}
