<div class="allContent100">
    <div class="contentVotacion">
        <div class="panelVotacion">
            <div class="panelSuperiorVotacion">
                <div class="panelBotonesVotacion">
                    <div class="divBotonBackVotacion" routerLink="/listadoVotaciones">
                        <i class="fas fa-angle-left botonBackVotacion"></i>
                    </div>
                    <!-- <div class="divBotonPlayVotacion" (click)="cambiaEstado()">
                        <i class="fas fa-play botonPlayVotacion"></i>
                    </div> -->
                    <div *ngIf="admin && estado == 'Creada'" class="divBotonPlayVotacion" [routerLink]="['/iniciarVotacion', id]">
                        <i class="fas fa-play botonPlayVotacion"></i>
                    </div>
                </div>
                <mat-card class="panelPreguntaVotacion">
                    <textarea *ngIf="!modificarPregunta" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                    class="preguntaVotacion" [(ngModel)]="pregunta" [readonly]="true"></textarea>
                    <textarea *ngIf="modificarPregunta" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                    class="preguntaVotacion" [(ngModel)]="copyPregunta"></textarea>
                    <div *ngIf="admin && estado == 'Creada' && !modificarPregunta" class="modifyPreguntaVotacion" (click)="modifyPregunta()">
                        <i class="fas fa-pen actionVotacionPen"></i>
                    </div>
                    <div *ngIf="admin && estado == 'Creada' && modificarPregunta" class="confirmPreguntaVotacion" (click)="guardarPregunta()">
                        <i class="fas fa-check fechaVotacionPen"></i>
                    </div>
                    <div *ngIf="admin && estado == 'Creada' && modificarPregunta" class="cancelPreguntaVotacion" (click)="cancelarPregunta()">
                        <i class="fas fa-times fechaVotacionPen"></i>
                    </div>
                </mat-card>
            </div>
            <mat-card class="panelInferiorVotacion">
                <mat-card class="panelFechaVotacion">
                    <label class="fechaVotacion">{{fecha.fecha | date: 'mediumDate'}}</label>
                    <div *ngIf="admin && estado == 'Creada'" class="modifyFechaVotacion" (click)="openDialog('editarFecha')">
                        <i class="fas fa-pen fechaVotacionPen"></i>
                    </div>
                </mat-card>
                <mat-card *ngIf="admin" class="panelEstadoVotacion" [class]="'panelEstadoVotacion' + estado">
                    <label class="fechaVotacion">{{estado}}</label>
                </mat-card>
                <mat-card *ngIf="!admin && estado == 'Creada' && objectKeys(participantes).includes(dni)" 
                class="panelBotonParticiparVotacion" (click)="rutar()">
                    <label class="fechaVotacion">Participar</label>
                </mat-card>
                <div class="separadorVotacion"></div>
                <div class="elementoVotacion">
                    <div class="iconElementoVotacion" (click)="openDialog('descripcion')">
                        <div class="iconDivElementoVotacion">
                            <i class="fas fa-info-circle iconVotacion"></i>
                        </div>
                    </div>
                    <div class="textElementoVotacion" (click)="openDialog('descripcion')">
                        <div class="firstTextElementoVotacion">
                            Descripción
                        </div>
                        <div class="secondTextElementoVotacionDescripcion">
                            {{descripcion.descripcion}}
                        </div>
                    </div>
                    <div class="actionElementoVotacion">
                        <div *ngIf="!admin || estado != 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('descripcion')">
                            <i class="fas fa-angle-right actionVotacion"></i>
                        </div>
                        <div *ngIf="admin && estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('editarDescripcion')">
                            <i class="fas fa-pen actionVotacionPen"></i>
                        </div>
                        
                    </div>
                </div>
                <div class="elementoVotacion">
                    <div class="iconElementoVotacion">
                        <div class="iconDivElementoVotacion" [class]="'iconDpt' + departamento.departamento">
                            <i *ngIf="departamento.departamento == 'Finanzas'" class="fas fa-euro-sign iconVotacion"></i>
                            <i *ngIf="departamento.departamento == 'Marketing'" class="fas fa-chart-line iconVotacionAmbito"></i>
                            <i *ngIf="departamento.departamento == 'Administración'" class="fas fa-tasks iconVotacionAmbito"></i>
                            <i *ngIf="departamento.departamento == 'Dirección'" class="fas fa-user-tie iconVotacion"></i>
                        </div>
                    </div>
                    <div class="textElementoVotacion">
                        <div class="firstTextElementoVotacion">
                            Departamento
                        </div>
                        <div class="secondTextElementoVotacion">
                            {{departamento.departamento}}
                        </div>
                    </div>
                    <div class="actionElementoVotacion">
                        <div *ngIf="admin && estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('editarDepartamento')">
                            <i class="fas fa-pen actionVotacionPen"></i>
                        </div>
                    </div>
                </div>
                <div class="elementoVotacion">
                    <div class="iconElementoVotacion">
                        <div class="iconDivElementoVotacion" [class]="'iconDpt' + ambito.ambito">
                            <i *ngIf="ambito.ambito == 'Pública'"  class="fas fa-users iconVotacionAmbito"></i>
                            <i *ngIf="ambito.ambito == 'Privada'" class="fas fa-lock iconVotacionAmbito"></i>
                            <i *ngIf="ambito.ambito == 'Departamento'" class="fas fa-sitemap iconVotacionAmbito"></i>
                            <i *ngIf="ambito.ambito == 'Oculta'" class="fas fa-eye-slash iconVotacionAmbito"></i>
                        </div>
                    </div>
                    <div class="textElementoVotacion">
                        <div class="firstTextElementoVotacion">
                            Ámbito
                        </div>
                        <div class="secondTextElementoVotacion">
                            {{ambito.ambito}}
                        </div>
                    </div>
                    <div class="actionElementoVotacion">
                        <div *ngIf="admin && estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('editarAmbito')">
                            <i class="fas fa-pen actionVotacionPen"></i>
                        </div>
                    </div>
                </div>
                <div class="elementoVotacion">
                    <div class="iconElementoVotacion">
                        <div *ngIf="estado != 'Finalizada'" class="iconDivElementoVotacion" (click)="openDialog('opciones')">
                            <i class="fas fa-question-circle iconVotacion"></i>
                        </div>
                        <div *ngIf="estado == 'Finalizada'" class="iconDivElementoVotacion" [routerLink]="['/resultados', id]">
                            <i class="fas fa-question-circle iconVotacion"></i>
                        </div>
                    </div>
                    <div class="textElementoVotacion">
                        <div *ngIf="estado != 'Finalizada'" class="firstTextElementoVotacion" (click)="openDialog('opciones')">
                            Opciones
                        </div>
                        <div *ngIf="estado == 'Finalizada'" class="firstTextElementoVotacion" [routerLink]="['/resultados', id]">
                            Resultados
                        </div>
                        <div class="secondTextElementoVotacion">
                            {{objectKeys(opciones).length}} opciones
                        </div>
                    </div>
                    <div class="actionElementoVotacion">
                        <div *ngIf="!admin && estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('opciones')">
                            <i class="fas fa-angle-right actionVotacion"></i>
                        </div>
                        <div *ngIf="estado == 'Activa'" class="actionDivElementoVotacion" (click)="openDialog('opciones')">
                            <i class="fas fa-angle-right actionVotacion"></i>
                        </div>
                        <div *ngIf="estado == 'Finalizada'" class="actionDivElementoVotacion" [routerLink]="['/resultados', id]">
                            <i class="fas fa-angle-right actionVotacion"></i>
                        </div>
                        <div *ngIf="admin && estado == 'Creada'" class="actionDivElementoVotacion">
                            <i class="fas fa-pen actionVotacionPen" (click)="openDialog('editarOpciones')"></i>
                        </div>
                       
                    </div>
                </div>
                <div class="elementoVotacion">
                    <div class="iconElementoVotacion" (click)="openDialog('participantes')">
                        <div class="iconDivElementoVotacion">
                            <i class="fas fa-user-friends iconVotacionAmbito"></i>
                        </div>
                    </div>
                    <div class="textElementoVotacion" (click)="openDialog('participantes')">
                        <div class="firstTextElementoVotacion">
                            Participantes
                        </div>
                        <div class="secondTextElementoVotacion">
                            {{objectKeys(participantes).length}} participantes
                        </div>
                    </div>
                    <div class="actionElementoVotacion">
                        <div *ngIf="!admin || estado != 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('participantes')">
                            <i class="fas fa-angle-right actionVotacion"></i>
                        </div>
                        <div *ngIf="admin && estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('editarParticipantes')">
                            <i class="fas fa-pen actionVotacionPen"></i>
                        </div>
                    </div>
                </div>
            </mat-card>
        </div>
        
    </div>
</div>

    