.panelFechaVotacion{
    background-color: #D1967D;
    width: 33% !important;
    border-radius: 10px !important;
    color: black;
    font-weight: bold;
    font-size: 15px !important;
    text-align: center;
    display: flex;
    position: absolute !important;
    top: -21.5px;
    right: 30px;
    padding: 0px;
}

.panelEstadoVotacion {
    width: 33%;
    border-radius: 10px;
    /* color: white; */
    color: black;
    font-weight: bold;
    font-size: 15px;
    text-align: center;
    display: flex;
    position: absolute;
    top: -21.5px;
    left: 30px;
    padding: 0px;
}

.panelEstadoVotacionActiva {
    background-color:  #80BD23; 
}

.panelEstadoVotacionCreada {
    background-color:  #E8A929;
}

.panelEstadoVotacionFinalizada {
    background-color:  #C63030; 
}

.iconVotacionAmbito {
    font-size: 20px;
    padding-top: 10px;
    color: #272343;
}


.actionVotacion {
    font-size: 20px;
    padding-top: 5px;
    color: #272343;
}

.actionVotacionPen {
    font-size: 15px;
    padding-top: 7.5px;
    color: #272343;
}


