.imgAlteracion {
    width: 140px;
    height: 140px;
    margin: auto;
}

.textAlteracion {
    margin: auto;
    text-align: center;
    font-size: 18px;
    color: #DCF6F5;
}

.containerImgAlteracion {
    display: flex;
    width: 100%;
    height: 50%;
}

.containerTextAlteracion {
    display: flex;
    width: 100%;
    height: 20%;
}

.containerAccionAlteracion {
    display: flex;
    width: 100%;
    height: 30%;
}

