.bodyHeight {
    min-height: 90%;
    max-height: 90%;
    /* border: 0.5px #272343 solid; */
}

.bodyBox{
    height: 155vw;
    /* border: 0.5px #272343 solid; */
}

::ng-deep .rowPuntos {
    width: 60%; 
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

::ng-deep .rowPuntos2 {
    width: 60%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(16%, 1fr) );    
}

::ng-deep .rowPuntos-3 {
    width: 50%; 
    margin-top: 3%;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}

::ng-deep .rowPuntos2-3 {
    width: 50%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );    
}

::ng-deep .circulo {
    background-color: #D1967D;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: auto;
}

::ng-deep .circuloSelected {
    background-color: #DCF4F4;
}

::ng-deep .flecha {
    font-size: 30px;
    color: #D1967D;
    margin-left: 10px;
    margin-right: 10px;
}

::ng-deep .titlePanel {
    margin-bottom: 0px;
    padding-top: 3%;
}

::ng-deep .titlePanelH2 {
    color: #D1967D;
    font-size: 2em;
    font-weight: bold;
    margin-top: 8%;
    margin-bottom: 6%;
}

::ng-deep .subtitlePanelH3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 7%;
}

::ng-deep .subtitlePanelH3-Res{
    color: white;
    font-size: 1em;
    margin-bottom: 7%;
}

::ng-deep .fieldForm {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100% !important;
}

::ng-deep .fieldFormAncho {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100% !important;
}

::ng-deep .fieldFormMedio {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100% !important;  
}

::ng-deep .inputFormMinus {
    width: 92% !important;
}

::ng-deep .allContent {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

::ng-deep .allContent85 {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
}

::ng-deep .allContent90 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

::ng-deep .contentNewVotacion{
    height: 108vw;
    width: 100%;
    border: 0.5px solid transparent;
}



::ng-deep .scrollOptions {
    width: 100%; 
    height: 102vw; 
    overflow: scroll;
    text-align: justify;
}

::ng-deep ::-webkit-scrollbar {
    display: none !important;
}

/* input color class */
::ng-deep .mat-input-element {
    color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white !important;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: white !important;
}

::ng-deep .mat-datepicker-toggle .cdk-focused {
    outline: none !important;
}

::ng-deep .mat-select-value-text {
    color: white !important;
}

::ng-deep .mat-form-field-label {
    color: #B9B9B9 !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #B9B9B9 !important;
}
  
  /* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  #D1967D !important;
}
  
  /* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:  #D1967D !important;
}

::ng-deep .mat-select-panel {
    background-color: #B9B9B9 !important;
    margin-top: 45px;
}

::ng-deep .mat-datepicker-content {
    background-color: #B9B9B9 !important;
    position: fixed;
    left: 7%;
    top: 21%;
    padding-bottom: 40px !important;
    padding-top: 10px;
    width: 86% !important;
}

::ng-deep .mat-calendar {
    margin: auto !important;
}

::ng-deep input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #272343;
  transition: background-color 5000s ease-in-out 0s;
}

::ng-deep .rowResumen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

::ng-deep .textResumen {
    font-size: 14px;
    color: #B9B9B9; 
}

::ng-deep .fieldResumen {
    text-align: left;
    width: 25%;
}

::ng-deep .fieldResumenGrande {
    text-align: left;
    width: 40%;
}

::ng-deep .valueResumen {
    text-align: right;
    width: 75%;
    font-weight: bold;
} 

::ng-deep .valueResumenGrande {
    text-align: right;
    width: 60%;
    font-weight: bold;
} 

::ng-deep .lineaResumen{
    border: 0.5px solid #B9B9B9 !important;
    opacity: 0.2 !important;
}

::ng-deep .rowOpciones {
    padding-left: 5%;
    padding-right: 5%;
    color: #B9B9B9; 
    font-size: 13px;
}

::ng-deep .buttonConfirm{
    width: 40% !important;
    margin-top: 20px !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    color: #D1967D !important;
    border: 1px solid #D1967D !important;
}

::ng-deep .buttonConfirm:focus {
    outline: 0;
}

::ng-deep .elementoListaVotacion {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    border-radius: 10px !important;
    /* background-color: white; */
    background-color: rgba(224,222,237,1);
    color: #272343;
    margin-bottom: 15px;
    padding: 0px !important;
}

::ng-deep .elementoListaVotacionActiva {
    border-left: 10px solid #9BC8A4; 
}

::ng-deep .elementoListaVotacionEn {
    border-left: 10px solid #E6E697;
}

::ng-deep .elementoListaVotacionFinalizada {
    border-left: 10px solid #C98987; 
}

::ng-deep .preguntaListaVotacion {
    width: 62%;
    margin: auto !important;
    text-align: left;
    padding-left: 3%;
    font-size: 15px;
    line-height: 23px;
}

::ng-deep .datosListaVotacion {
    width: 38%;
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
    display: inline-block;
    border-left: 23px solid rgba(224,222,237,1);
    font-weight: bold;
    color: #535654;
    height: 0; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 23px;
}

::ng-deep .dptoListaVotacion {
    padding-top: 9.5px;
    margin-bottom: 0px;
}

::ng-deep .datosListaVotacionActiva {
    border-bottom: 65px solid #9BC8A4; 
}

::ng-deep .datosListaVotacionEn {
    border-bottom: 65px solid #E6E697; 
}

::ng-deep .datosListaVotacionFinalizada {
    border-bottom: 65px solid #C98987; 
}

::ng-deep .scrollOptions110 {
    height: 110vw !important; 
}

::ng-deep .scrollOptions105 {
    height: 105vw !important; 
}

::ng-deep .mesListaVotacion {
    color: white;
}

::ng-deep .flechaNewParticipante{
    color: #B9B9B9; 
    font-size: 15px;
    width: 8%;
}

::ng-deep .menuZonaFiltro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

::ng-deep .menuOrden {
    width: 50%;
}

::ng-deep .menuOrdenNewVotacion {
    width: 60%;
}

::ng-deep .menuFiltro {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: right;

    width: 50%;
    margin: auto;
}

::ng-deep .menuFiltroNewVotacion {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    width: 40%;
    margin: auto;
}

::ng-deep .filterIcon{
    font-size: 25px;
}

::ng-deep .menuFiltroUsers {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

::ng-deep .mat-bottom-sheet-container {
    background-color: #F6F6F6 !important;
    padding: 5px 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    min-width: 0px !important;
}

::ng-deep .cdk-overlay-pane .mat-bottom-sheet-container {
    width: 100% !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
}

::ng-deep .dialogoFiltro {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 94%;
}

::ng-deep .titleFiltro{
    text-align: center;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    line-height: 16px;
}

::ng-deep .grupoFiltro {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

::ng-deep .hrFiltro {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    border: #272343 0.5px solid;
}

::ng-deep .labelFiltro{
    color: #707272;
    font-size: 15px;
}

::ng-deep .inputFiltro{
    color: black;
    width: 100%;
}

::ng-deep .gridFiltro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

::ng-deep .elementGridFiltro {
    width: 50%;
}

::ng-deep .elementGridFiltro2 {
    width: 50%;
    padding-left: 30px;
}

::ng-deep .dialogoFiltro .mat-input-element {
    color: #272343 !important;
}

::ng-deep .dialogoFiltro .mat-form-field.mat-focused .mat-form-field-label {
    color:  #272343 !important;
}
  
::ng-deep .dialogoFiltro .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:  #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checked .mat-checkbox-background,
.dialogoFiltro .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #D1967D !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-frame {
    border: 1px solid #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checked .mat-checkbox-frame,
.dialogoFiltro .mat-checkbox-indeterminate .mat-checkbox-frame {
    border: 1px solid #D1967D !important;
}

::ng-deep .dialogoFiltro .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #D1967D !important;
    /*background-color: #272343;*/
}

::ng-deep .grupoFiltro .mat-form-field-hide-placeholder .mat-form-field-label {
    color: black !important;
}

::ng-deep .grupoFiltro .mat-form-field-label {
    color: #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checkmark-path {
    stroke: #272343 !important;
}

::ng-deep .buttonFiltro{
    width: 40% !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-bottom: 20px !important;
    color: #D9D9D9 !important;
    background-color: #272343;
    border: 1px solid #272343 !important;
}

::ng-deep .buttonFiltro:focus {
    outline: 0;
}

::ng-deep .userDiv {
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

::ng-deep .iconDptDiv {
    width: 20%;
    margin: auto;
}

::ng-deep .iconDpt {
    font-size: 30px;
    padding-top: 10px;
    color: black;
}

::ng-deep .iconDptFinanzas {
    background-color: rgba(208,216,176,0.7);
}

::ng-deep .iconDptAdministración {
    background-color: rgba(201,199,210,0.7);
}

::ng-deep .iconDptDirección {
    background-color: rgba(226,197,151,0.7);
}

::ng-deep .iconDptMarketing {
    background-color: rgba(204,176,208,0.7);
}

::ng-deep .iconDptSquare {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-left: 50%;
    margin-right: 0px;
}

::ng-deep .datosDiv {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

::ng-deep .nameUser {
    width: 100%;
    font-weight: bold;
    
}

::ng-deep .cargoUser {
    width: 100%;
    font-size: 14px;
    color: #999696;
}

::ng-deep .inicialListaUsers {
    /*color: #D1967D;
    border: 0.5px solid #D1967D;*/
    background-color: #D1967D;
    border-radius: 15px;
    font-size: 16px;
    line-height: 18px;
    width: 28px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

::ng-deep .divLetra {
    margin-bottom: 10px;
}

::ng-deep .botonNuevoUser{
    font-size: 20px;
    padding-top: 15px;
    color: #272343;
}

::ng-deep .divBotonNuevoUser {
    background-color: #D1967D;
    /*box-shadow: 0px 0px 5px 1px rgba(209,150,125,0.7);
    box-shadow: 0px 2px 4px -1px rgba(209,150,125, 0.2), 0px 4px 5px 0px rgba(209,150,125, 0.14), 0px 1px 10px 0px rgba(209,150,125, 0.12);*/
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 30px;
    top: -40px;
}

::ng-deep .containerBotonNuevoUser {
    position: absolute;
    width: 100%;
}

::ng-deep .encabezadoVotante {
    position: relative;
    margin-top: 50px !important;
}

::ng-deep .iconDptSquareVotante {
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

::ng-deep .iconDptDivVotante {
    width: 20%;
    margin: auto;  
}

::ng-deep .iconDptVotante {
    font-size: 40px;
    padding-top: 15px;
    color: black;
}

::ng-deep .nombreVotante{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-align: center;
}

::ng-deep .datosVotante {
    margin-top: 5px;
    margin-bottom: 10px;
    background-color: rgba(246,246,246,0.8);
    border-radius: 10px;
}

::ng-deep .headerDatosVotante {
    margin-top: 5px;
    color: rgba(246,246,246,0.8);
    padding-left: 10px;
}

::ng-deep .hrVotante {
    width: 95%;
    border: 0.5px solid #272343;
    margin-left: 2.5%;
}

::ng-deep .elementoVotante {
    padding: 8px 2.5%;
    width: 100%;
    font-size: 16px;
    color: #272343;
}

::ng-deep .iconVotante {
    color: #272343;
    margin: auto !important;
    width: 35px;
    text-align: center;
    padding-right: 10px !important;
}

::ng-deep .botonEditarVotante {
    font-size: 15px;
    padding-top: 12.5px;
    color: #272343;
}

::ng-deep .divBotonModify {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: -20px;
}

::ng-deep .divBotonConfirmarModify {
    background-color: rgba(175, 222, 164,0.8);
    right: 0px !important;
}

::ng-deep .divBotonCancelarModify {
    background-color: rgba(222, 172, 164,0.8);
    left: 0px !important;
}

::ng-deep .divBotonEditarVotante {
    background-color: rgba(246,246,246,0.8);
    right: 0px !important;
}
::ng-deep .divBotonBackModify {
    background-color: rgba(246,246,246,0.8);
    left: 0px !important;
}