::ng-deep .body {
    width: 100%;
    height: 100%;
}

::ng-deep .bodyContainerAll {
  width: 100%;
  height: 100%;
}

::ng-deep .bodyContainerFooter {
  width: 100%;
  height: 90%;
  overflow: scroll;
}

::ng-deep .bodySubcontainer {
  width: 100%;
  height: 97%;
  margin-bottom: 3%;
}

::ng-deep .bodySubcontainerAll {
    width: 100%;
    height: 100%;
  }

.bodyHeight {
    min-height: 90%;
    max-height: 90%;
    /* border: 0.5px #272343 solid; */
}

.bodyBox{
    height: 155vw;
    /* border: 0.5px #272343 solid; */
}

::ng-deep .rowPuntos {
    width: 60%; 
    margin-top: 3%;
    display: flex;
    margin-left: 20%;
    margin-right: 20%;
}

::ng-deep .rowPuntos2 {
    width: 60%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(16%, 1fr) );    
}

::ng-deep .rowPuntos-3 {
    width: 50%; 
    margin-top: 3%;
    display: flex;
    margin-left: 25%;
    margin-right: 25%;
}

::ng-deep .rowPuntos2-3 {
    width: 50%;
    display: grid;
    margin: auto;
    grid-template-columns: repeat( auto-fit, minmax(20%, 1fr) );    
}

::ng-deep .circulo {
    background-color: #D1967D;
    width: 12px;
    height: 12px;
    border-radius: 12px;
    margin: auto;
}

::ng-deep .circuloSelected {
    background-color: #DCF4F4;
}

::ng-deep .flecha {
    font-size: 30px;
    color: #D1967D;
    margin-left: 10px;
    margin-right: 10px;
}

::ng-deep .titlePanel {
    margin-bottom: 0px;
    height: 13%;
    display: flex;
}

::ng-deep .titlePanelH2 {
    margin: auto 0px;
    color: #D1967D;
    font-size: 2em;
    font-weight: bold;
}

::ng-deep .subtitlePanel {
    height: 12%;
}

::ng-deep .subtitlePanelSmall {
    height: 7%;
}

::ng-deep .subtitlePanelH3 {
    color: white;
    font-size: 1.5em;
    margin-bottom: 7%;
}

::ng-deep .subtitlePanelH3-Res{
    color: white;
    font-size: 1em;
    margin-bottom: 7%;
}

::ng-deep .listadoPanel {
    height: 75%;
    overflow: scroll;
}

::ng-deep .addPanel {
    height: 80%;
}

::ng-deep .addDatosPanelVotacion {
    border: 1px solid transparent;
    overflow: scroll;
    height: 87%;
}

::ng-deep .addDatosPanelParticipantes {
    border: 1px solid transparent;
    height: 87%;
}

::ng-deep .addDatosPanelParticipantesFiltro {
    height: 12%;
}

::ng-deep .addDatosPanelParticipantesLista {
    border: 1px solid transparent;
    overflow: scroll;
    height: 88%;
}

::ng-deep .addDatosPanelUser {
    overflow: scroll;
    margin-top: 10%;
    height: 82%;
}

::ng-deep .panelResumenAddUser {
    margin-top: 2%;
}

::ng-deep .addPointsPanel {
    margin-top: 7%;
    height: 5%;
}

::ng-deep .fieldForm {
    margin-top: 1%;
    margin-bottom: 1%;
    width: 100% !important;
}

::ng-deep .fieldFormAncho {
    margin-top: 5%;
    margin-bottom: 5%;
    width: 100% !important;
}

::ng-deep .fieldFormMedio {
    margin-top: 2%;
    margin-bottom: 2%;
    width: 100% !important;  
}

::ng-deep .inputFormMinus {
    width: 92% !important;
}

::ng-deep .allContent {
    margin-left: 10%;
    margin-right: 10%;
    width: 80%;
}

::ng-deep .allContent85 {
    margin-left: 7.5%;
    margin-right: 7.5%;
    width: 85%;
}

::ng-deep .allContent90 {
    margin-left: 5%;
    margin-right: 5%;
    width: 90%;
}

::ng-deep .contentNewVotacion{
    height: 108vw;
    width: 100%;
    border: 0.5px solid transparent;
}

::ng-deep .contentVotacion{
    height: 100%;
    width: 100%;
}

::ng-deep .scrollOptions {
    width: 100%; 
    height: 102vw; 
    overflow: scroll;
    text-align: justify;
}

::ng-deep ::-webkit-scrollbar {
    display: none !important;
}

/* input color class */
::ng-deep .mat-input-element {
    color: white !important;
}

::ng-deep .mat-select-arrow {
    color: white !important;
}

::ng-deep .mat-datepicker-toggle-default-icon {
    color: white !important;
}

::ng-deep .mat-datepicker-toggle .cdk-focused {
    outline: none !important;
}

::ng-deep .mat-select-value-text {
    color: white !important;
}

::ng-deep .mat-form-field-label {
    color: #B9B9B9 !important;
}
  
::ng-deep .mat-form-field-underline {
    background-color: #B9B9B9 !important;
}
  
  /* Change label color on focused */
::ng-deep .mat-form-field.mat-focused .mat-form-field-label {
    color:  #D1967D !important;
}
  
  /* underline border color on focused */
::ng-deep .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:  #D1967D !important;
}

::ng-deep .mat-select-panel {
    background-color: #B9B9B9 !important;
    margin-top: 45px;
}

::ng-deep .cdk-overlay-backdrop {
    background-color: rgba(0,0,0,.32) !important;
}

::ng-deep .mat-datepicker-content {
    background-color: #B9B9B9 !important;
    position: fixed;
    left: 7%;
    top: 21%;
    padding-bottom: 40px !important;
    padding-top: 10px;
    width: 86% !important;
    border-radius: 30px !important;
}

::ng-deep .mat-calendar {
    margin: auto !important;
}

::ng-deep input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  -webkit-text-fill-color: #272343;
  transition: background-color 5000s ease-in-out 0s;
}

::ng-deep .rowResumen {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-bottom: 5px;
    margin-top: 5px;
}

::ng-deep .textResumen {
    font-size: 14px;
    color: #B9B9B9; 
}

::ng-deep .fieldResumen {
    text-align: left;
    width: 25%;
}

::ng-deep .fieldResumenGrande {
    text-align: left;
    width: 40%;
}

::ng-deep .valueResumen {
    text-align: right;
    width: 75%;
    font-weight: bold;
} 

::ng-deep .valueResumenGrande {
    text-align: right;
    width: 60%;
    font-weight: bold;
} 

::ng-deep .lineaResumen{
    border: 0.5px solid #B9B9B9 !important;
    opacity: 0.2 !important;
}

::ng-deep .rowOpciones {
    padding-left: 5%;
    padding-right: 5%;
    color: #B9B9B9; 
    font-size: 13px;
}

::ng-deep .buttonConfirm{
    width: 40% !important;
    margin-top: 20px !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    color: #D1967D !important;
    border: 1px solid #D1967D !important;
}

::ng-deep .buttonConfirm:focus {
    outline: 0;
}

::ng-deep .elementoListaVotacion {
    width: 100%;
    display: flex !important;
    flex-wrap: wrap;
    border-radius: 10px !important;
    background-color: rgba(224,222,237,1);
    /* background-color: rgba(246,246,246,0.8); */
    color: #272343;
    margin-bottom: 15px;
    padding: 0px !important;
}

::ng-deep .preguntaListaVotacion {
    width: 65%;
    margin: auto !important;
    text-align: left;
    padding-left: 3%;
    font-size: 15px;
    line-height: 23px;
}

::ng-deep .datosListaVotacion {
    width: 35%;
    text-align: right;
    padding-right: 10px;
    font-size: 13px;
    display: inline-block;
    border-left: 23px solid rgba(224,222,237,1);
    font-weight: bold;
    color: #272343;
    height: 0; 
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    line-height: 23px;
}

::ng-deep .dptoListaVotacion {
    padding-top: 9.5px;
    margin-bottom: 0px;
}


::ng-deep .elementoListaVotacionActiva {
    border-left: 10px solid #7FDC91;
}

::ng-deep .elementoListaVotacionCreada {
    /* border-left: 10px solid #E6E697; */
    border-left: 10px solid #EEBF5D;
}

::ng-deep .elementoListaVotacionFinalizada {
    /* border-left: 10px solid #C98987;  */
    border-left: 10px solid #F4664D;
}

::ng-deep .datosListaVotacionActiva {
    /* border-bottom: 65px solid #8FDE9F; */
    border-bottom: 65px solid #7FDC91;
}

::ng-deep .datosListaVotacionCreada {
    /* border-bottom: 65px solid #E6E697;  */
    border-bottom: 65px solid #EEBF5D; 
}

::ng-deep .datosListaVotacionFinalizada {
    border-bottom: 65px solid #F4664D;
}

::ng-deep .scrollOptions110 {
    height: 110vw !important; 
}

::ng-deep .scrollOptions105 {
    height: 105vw !important; 
}

::ng-deep .scrollOptions95 {
    height: 95vw !important; 
}

::ng-deep .mesListaVotacion {
    color: white;
}

::ng-deep .flechaNewParticipante{
    color: #B9B9B9; 
    font-size: 15px;
    width: 8%;
}

::ng-deep .menuZonaFiltro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    margin-top: 5px;
    margin-bottom: 10px;
}

::ng-deep .menuOrden {
    width: 50%;
}

::ng-deep .menuOrdenNewVotacion {
    width: 60%;
}

::ng-deep .menuFiltro {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: right;

    width: 50%;
    margin: auto;
}

::ng-deep .menuFiltroNewVotacion {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: right;
    padding-right: 10px;
    width: 40%;
    margin: auto;
}

::ng-deep .filterIcon{
    font-size: 25px;
}

::ng-deep .menuFiltroUsers {
    color: #B9B9B9; 
    font-size: 16px;
    text-align: center;
    width: 100%;
    margin: auto;
    margin-top: 10px;
    margin-bottom: 10px;
}

::ng-deep .mat-bottom-sheet-container {
    background-color: #F6F6F6 !important;
    padding: 5px 0px !important;
    border-top-left-radius: 10px !important;
    border-top-right-radius: 10px !important;
    min-width: 0px !important;
}

::ng-deep .cdk-overlay-pane .mat-bottom-sheet-container {
    width: 600px !important;
    margin-right: 5% !important;
    margin-left: 5% !important;
}

::ng-deep .dialogoFiltro {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 94%;
}

::ng-deep .titleFiltro{
    text-align: center;
    font-size: 16px;
    margin: 0px;
    padding: 0px;
    margin-bottom: 10px;
    line-height: 16px;
}

::ng-deep .grupoFiltro {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 5%;
    padding-right: 5%;
}

::ng-deep .hrFiltro {
    width: 90%;
    margin-left: 5%;
    margin-bottom: 10px;
    border: #272343 0.5px solid;
}

::ng-deep .labelFiltro{
    color: #707272;
    font-size: 15px;
}

::ng-deep .inputFiltro{
    color: black;
    width: 100%;
}

::ng-deep .gridFiltro {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

::ng-deep .elementGridFiltro {
    width: 50%;
}

::ng-deep .elementGridFiltro2 {
    width: 50%;
    padding-left: 30px;
}

::ng-deep .dialogoFiltro .mat-input-element {
    color: #272343 !important;
}

::ng-deep .dialogoFiltro .mat-form-field.mat-focused .mat-form-field-label {
    color:  #272343 !important;
}
  
::ng-deep .dialogoFiltro .mat-focused .mat-form-field-underline .mat-form-field-ripple{
    background-color:  #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checked .mat-checkbox-background,
.dialogoFiltro .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #D1967D !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-frame {
    border: 1px solid #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checked .mat-checkbox-frame,
.dialogoFiltro .mat-checkbox-indeterminate .mat-checkbox-frame {
    border: 1px solid #D1967D !important;
}

::ng-deep .dialogoFiltro .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #D1967D !important;
    /*background-color: #272343;*/
}

::ng-deep .grupoFiltro .mat-form-field-hide-placeholder .mat-form-field-label {
    color: black !important;
}

::ng-deep .grupoFiltro .mat-form-field-label {
    color: #272343 !important;
}

::ng-deep .dialogoFiltro .mat-checkbox-checkmark-path {
    stroke: #272343 !important;
}

::ng-deep .buttonFiltro{
    width: 40% !important;
    margin-left: 30% !important;
    margin-right: 30% !important;
    margin-bottom: 20px !important;
    color: #D9D9D9 !important;
    background-color: #272343;
    border: 1px solid #272343 !important;
}

::ng-deep .buttonFiltro:focus {
    outline: 0;
}

::ng-deep .userDiv {
    color: white;
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    padding-bottom: 10px;
}

::ng-deep .iconDptDiv {
    width: 20%;
    margin: auto;
}

::ng-deep .iconDptDivUser {
    width: 20%;
    margin: auto;
}

::ng-deep .containerDivIconUser {
    width: 100%;
    margin-top: 10%;
    height: 50%;
}

::ng-deep .containerNombreUser {
    width: 100%;
    height: 30%;
}

::ng-deep .iconDpt {
    font-size: 30px;
    padding-top: 10px;
    color: black;
}

::ng-deep .iconDptFinanzas {
    background-color: rgba(208,216,176,0.7) !important;
}

::ng-deep .iconDptAdministración {
    background-color: rgba(201,199,210,0.7) !important;
}

::ng-deep .iconDptDirección {
    background-color: rgba(226,197,151,0.7) !important;
}

::ng-deep .iconDptMarketing {
    background-color: rgba(204,176,208,0.7) !important;
}

::ng-deep .iconDptPública {
    /* background-color: rgba(168,224,187,0.7); */
    background-color: rgba(168,224,187,1) !important;
}

::ng-deep .iconDptPrivada {
    /* background-color: rgba(226,218,163,0.7); */
    background-color: rgba(226,218,163,1) !important;
}

::ng-deep .iconDptOculta {
    /* background-color: rgba(226,178,163,0.7); */
    background-color: rgba(226,178,163,1) !important;
}

::ng-deep .iconDptDepartamento {
    /* background-color: rgba(177,179,178,0.7); */
    background-color: rgba(177,179,178,1) !important;
}

::ng-deep .iconDptSquare {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-left: 50%;
    margin-right: 0px;
}

::ng-deep .datosDiv {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 30px;
}

::ng-deep .nameUser {
    width: 100%;
    font-weight: bold;
    
}

::ng-deep .cargoUser {
    width: 100%;
    font-size: 14px;
    color: #999696;
}

::ng-deep .inicialListaUsers {
    /*color: #D1967D;
    border: 0.5px solid #D1967D;*/
    background-color: #D1967D;
    border-radius: 15px;
    font-size: 16px;
    line-height: 18px;
    width: 28px;
    text-align: center;
    padding: 5px;
    font-weight: bold;
}

::ng-deep .divLetra {
    margin-bottom: 10px;
}

::ng-deep .botonNuevoUser{
    font-size: 20px;
    padding-top: 15px;
    color: #272343;
}

::ng-deep .divBotonNuevoUser {
    background-color: #D1967D;
    /*box-shadow: 0px 0px 5px 1px rgba(209,150,125,0.7);
    box-shadow: 0px 2px 4px -1px rgba(209,150,125, 0.2), 0px 4px 5px 0px rgba(209,150,125, 0.14), 0px 1px 10px 0px rgba(209,150,125, 0.12);*/
    text-align: center;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    position: absolute;
    right: 30px;
    top: -50px;
}

::ng-deep .containerBotonNuevoUser {
    position: absolute;
    width: 100%;
}

::ng-deep .encabezadoVotante {
    position: relative;
    /* padding: 50px !important;
    padding-bottom: 20px !important; */
    display: flex;
    flex-wrap: wrap;
    height: 27.5%;
}

::ng-deep .panelUserDatos{
    height: 72.5%;
    overflow: scroll;
}

::ng-deep .iconDptSquareVotante {
    width: 70px;
    height: 70px;
    text-align: center;
    vertical-align: middle;
    border-radius: 20px;
}

::ng-deep .iconDptDivVotante {
    width: 20%;
    margin: auto;  
}

::ng-deep .iconDptVotante {
    font-size: 40px;
    padding-top: 15px;
    color: black;
}

::ng-deep .nombreVotante{
    margin-top: 15px;
    margin-bottom: 15px;
    font-size: 23px;
    font-weight: bold;
    color: white;
    text-align: center;
}

::ng-deep .datosVotante {
    margin-top: 5px;
    margin-bottom: 10px;
    /* background-color: rgba(246,246,246,0.8); */
    background-color: rgba(224,222,237,1);
    border-radius: 10px;
    box-shadow: 0px 5px 1px -1px rgba(0, 0, 0, 0.2), 0px 5px 1px 0px rgba(0, 0, 0, 0.14), 0px 5px 3px 0px rgba(0, 0, 0, 0.12);
}

::ng-deep .headerDatosVotante {
    margin-top: 5px;
    color: rgba(246,246,246,0.8);
    padding-left: 10px;
}

::ng-deep .hrVotante {
    width: 95%;
    border: 0.5px solid #272343;
    margin-left: 2.5%;
}

::ng-deep .elementoVotante {
    padding: 8.5px 2.5%;
    width: 100%;
    font-size: 16px;
    color: #272343;
}

::ng-deep .iconVotante {
    color: #272343;
    margin: auto !important;
    width: 45px;
    text-align: center;
    padding-right: 10px !important;
    padding-left: 7.5px;
}

::ng-deep .botonEditarVotante {
    font-size: 15px;
    padding-top: 12.5px;
    color: #272343;
}

::ng-deep .botonBackVotante {
    font-size: 18px;
    padding-top: 11px;
    color: #272343;
}

::ng-deep .divBotonModify {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 30px;
}

::ng-deep .divBotonConfirmarModify {
    background-color: rgba(175, 222, 164,0.8);
    right: 0px !important;
}

::ng-deep .divBotonCancelarModify {
    background-color: rgba(222, 172, 164,0.8);
    left: 0px !important;
}

::ng-deep .divBotonEditarVotante {
    background-color: rgba(224,222,237,1);
    right: 0px !important;
}

::ng-deep .divBotonEditarVotanteLeft {
    background-color: rgba(224,222,237,1);
    left: 0px !important;
}

::ng-deep .divBotonBackModify {
    background-color: rgba(224,222,237,1);
    left: 0px !important;
}

::ng-deep .divBotonBackVotacion {
    background-color: #272343;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 12.5px;
    left: 12.5px;
}

::ng-deep .divBotonPlayVotacion {
    background-color: #80BD23;
    color: white;
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 12.5px;
    right: 12.5px;
}

::ng-deep .botonBackVotacion {
    font-size: 18px;
    padding-top: 11px;
    color: rgba(224,222,237,1);
}

::ng-deep .botonPlayVotacion {
    font-size: 15px;
    padding-top: 12.5px;
    color: #272343;
}

::ng-deep .titleDialogoDesplegable {
    font-size: 23px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

::ng-deep .contentDialogoDesplegable {
    padding: 20px 40px 20px 40px !important;
    text-align: justify;
}

::ng-deep .opcionDialogoDesplegable {
    padding: 15px 5px;
    display: flex;
}

::ng-deep .numeroOpcionDialogoDesplegable {
    width: 10%;
}

::ng-deep .textoOpcionDialogoDesplegable {
    width: 90%;
    margin: 0px;
}

::ng-deep .inputOpcionDialogoDesplegableModify {
    width: 75%;
    margin: 0px;
    outline: 0;
    background-color: transparent;
    border: none;
}

::ng-deep .botonEliminarOpcionDialogoDesplegable {
    width: 15%;
    margin: 0px;
    padding-left: 25px;
    display: flex;
}

::ng-deep .iconMinusDialogoDesplegable {
    margin: auto;
}

::ng-deep .iconDptDivDialogoDesplegable {
    width: 20% !important;
    margin: auto;
    padding-left: 10px;
}

::ng-deep .datosDivDialogoDesplegable {
    width: 80% !important;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

::ng-deep .iconDptDivDialogoDesplegableAddUser {
    width: 50px !important;
    margin: auto;
    padding-left: 10px;
}

::ng-deep .datosDivDialogoDesplegableAddUser {
    margin-left: 10px;
}

::ng-deep .datosDivDialogoDesplegableEditar {
    width: 65%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

::ng-deep .iconDptDialogoDesplegable {
    font-size: 15px;
    padding-top: 10px;
    color: black;
}

::ng-deep .iconDptSquareDialogoDesplegable {
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-right: 0px;
}

::ng-deep .nameUser {
    width: 100%;
    font-weight: bold;
}

::ng-deep .cargoUser {
    width: 100%;
    font-size: 14px;
    color: #999696;
}

::ng-deep .modifyDescripcionVotacion {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: justify;
    outline: none;
    /* position: absolute;
    top: 0; */
    resize: none;
}

::ng-deep .divBotonModifyVotacion {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
}

::ng-deep .divBotonConfirmarModifyVotacion {
    background-color: rgba(175, 222, 164,0.8);
    right: 20px !important;
}

::ng-deep .divBotonCancelarModifyVotacion {
    background-color: rgba(222, 172, 164,0.8);
    left: 20px !important;
}

::ng-deep .gridRadioButtonsVotacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

::ng-deep .elementGridRadioButtonsVotacion {
    width: 50%;
    padding-left: 20px;
    padding-top: 10px;
}

::ng-deep .elementGridRadioButtonsVotacion2 {
    width: 50%;
    padding-left: 40px;
    padding-top: 10px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #D1967D !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #D1967D !important;
}

::ng-deep .contentOptionDialogoDesplegable {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}

::ng-deep .contentOptionDialogoDesplegableAddUser {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}


::ng-deep .plusButtonDialogoDesplegable {
    font-size: 15px;
    padding-top: 12.5px;
    color: white;
}

::ng-deep .plusButtonDivDialogoDesplegable {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    background-color: #272343;
    margin: auto;
    margin-top: 10px;
}

::ng-deep .nameUserModifyVotacion {
    width: 100%;
    font-weight: bold;
    color: black !important;
}

::ng-deep .cargoUserModifyVotacion {
    width: 100%;
    font-size: 14px;
    color: #999696;
}

::ng-deep .divOpcionDialogoDesplegable .mat-checkbox-label {
    width: 90% !important;
    display: flex;
}

::ng-deep .divOpcionDialogoDesplegable .mat-checkbox-layout {
    margin-bottom: 0px !important;
}

::ng-deep .divOpcionDialogoDesplegable .mat-checkbox-frame {
    border: 1px solid #272343 !important;
}

::ng-deep .nameUserAddUser {
    width: 100%;
    font-weight: bold;
    height: 20px !important;
}

::ng-deep .cargoUserAddUser {
    width: 100%;
    font-size: 14px;
    color: #999696;
    height: 20px !important;
}

::ng-deep .dialogoAddUser {
    margin-top: 3%;
    margin-bottom: 3%;
    height: 94%;
}

::ng-deep .dialogoAddUser .mat-checkbox-checked .mat-checkbox-background,
.dialogoAddUser .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: #272343 !important;
}

::ng-deep .dialogoAddUser .mat-checkbox-frame {
    border: 1px solid #272343 !important;
}

::ng-deep .dialogoAddUser .mat-checkbox-checked .mat-checkbox-frame,
.dialogoAddUser .mat-checkbox-indeterminate .mat-checkbox-frame {
    border: 1px solid #272343 !important;
}

::ng-deep .dialogoAddUser .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #D1967D !important;
}

::ng-deep .flechaNewParticipante{
    color: #B9B9B9; 
    font-size: 15px;
    width: 8%;
}

::ng-deep .dptoNewParticipante {
    color: #B9B9B9;
    font-weight: normal;
    font-size: 15px;
}

::ng-deep .totalParticipantes {
    color: #B9B9B9;
    font-size: 18px;
    margin-bottom: 5%;
}

::ng-deep .dptoCounter{
    position: absolute !important;
    right: 1%;
    color: #B9B9B9;
}

::ng-deep .scrollOptions90 {
    height: 90vw !important; 
}

::ng-deep .iconDptSquareVotacion {
    width: 50px;
    height: 50px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-right: 0px;
}

::ng-deep .userDivVotacion {
    color: white;
    width: 100%;
    padding-bottom: 10px;
    padding-left: 5px !important;
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .containerValores .mat-checkbox-label {
    width: 90% !important;
}

::ng-deep .userData {
    display: flex;
    flex-wrap: wrap;
}

::ng-deep .iconDptVotacion {
    padding-left: 10px;
}

::ng-deep .datosDivVotacion {
    width: 70%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

::ng-deep .containerValores .mat-checkbox-inner-container {
    margin-left: 0px !important;
}

::ng-deep .containerValores .mat-checkbox-checked .mat-checkbox-background,
.containerValores .mat-checkbox-indeterminate .mat-checkbox-background {
    background-color: transparent !important;
}

::ng-deep .containerValores .mat-checkbox-frame {
    border: 1px solid white !important;
    border-radius: 5px !important;
}

::ng-deep .containerValores .mat-checkbox-checked .mat-checkbox-frame,
.userDivVotacion .mat-checkbox-indeterminate .mat-checkbox-frame {
    border: 1px solid white !important;
}

::ng-deep .containerValores .mat-checkbox:not(.mat-checkbox-disabled) .mat-checkbox-ripple .mat-ripple-element {
    background-color: #D1967D !important;
    /*background-color: #272343;*/
}

::ng-deep .containerValores .mat-checkbox-checkmark-path {
    stroke: white !important;
}

::ng-deep .panelVotacion {
    height: 100%;
    background-color: #DCF6F5;
}

::ng-deep .panelSuperiorVotacion {
    height: 32%;
    position: relative;
}

::ng-deep .panelInferiorVotacion {
    height: 72%;
    background-color: #272343;
    border-radius: 0px !important;
    border-top-right-radius: 30px !important;
    box-shadow: none !important;
    position: relative;
}

::ng-deep .panelInferiorVotar {
    height: 82%;
    background-color: #272343;
    border-radius: 0px !important;
    border-top-right-radius: 30px !important;
    box-shadow: none !important;
    position: relative;
}

::ng-deep .panelBotonesVotacion {
    height: 20%;
}

::ng-deep .panelPreguntaVotacion {
    height: 60%;
    background-color: #272343;
    width: 70%;
    margin-left: 15%;
    border-top-right-radius: 0px !important;
    border-top-left-radius: 30px !important;
    border-bottom-right-radius: 30px !important;
    border-bottom-left-radius: 0px !important;   
    /* border-top-right-radius: 30px !important;
    border-top-left-radius: 0px !important;
    border-bottom-right-radius: 0px !important;
    border-bottom-left-radius: 30px !important; */
    color: white;
    font-size: 20px;
    text-align: center;
    display: flex;
    position: relative;
}

::ng-deep .preguntaVotacion {
    margin: auto !important;
    line-height: 30px;
    background-color: transparent;
    border: none;
    outline: none;
    color: white;
    text-align: center;
}


::ng-deep .modifyPreguntaVotacion {
    position: absolute;
    /* bottom: -15px;
    right: -15px; */
    /* bottom: -15px;
    left: -15px; */
    bottom: -7px;
    left: -7px;
    background-color: #DCF6F5;
    border: 0.5px solid #272343;
    color: #272343;
    height: 30px;
    width: 30px;
    border-radius: 10px;
    text-align: center;
}

::ng-deep .confirmPreguntaVotacion {
    position: absolute;
    bottom: -7px;
    left: -7px;
    background-color: rgba(175, 222, 164,1);
    border: 0.5px solid #272343;
    color: #272343;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
}

::ng-deep .cancelPreguntaVotacion {
    position: absolute;
    top: -7px;
    right: -7px;
    background-color: rgba(222, 172, 164,1);
    border: 0.5px solid #272343;
    color: #272343;
    height: 30px;
    width: 30px;
    border-radius: 30px;
    text-align: center;
}

::ng-deep .modifyFechaVotacion {
    position: absolute;
    top: -15px;
    right: -15px;
    background-color: #272343;
    color: #DCF6F5 !important;
    /* bottom: -15px;
    left: -15px;
    background-color: #DCF6F5;
    color: #272343; */
    height: 30px;
    width: 30px;
    border-radius: 10px;
    text-align: center;
}

::ng-deep .modificarFechaVotacion .mat-datepicker-toggle-default-icon {
    color: #272343 !important;
}

::ng-deep .fechaVotacionPen {
    font-size: 13px;
    padding-top: 8.5px;
}

::ng-deep .panelBotonParticiparVotacion {
    width: 33% !important;
    color: black !important;
    font-weight: bold !important;
    font-size: 15px !important;
    text-align: center !important;
    display: flex !important;
    position: absolute !important;
    top: -21.5px !important;
    left: 30px !important;
    padding: 0px !important;
    background: #cb4e4e !important;
    box-shadow: 0 8px #ab3c3c !important;
    border: none !important;
    outline: none !important;
    -webkit-transition: all 0.3s !important;
	-moz-transition: all 0.3s !important;
    transition: all 0.3s !important;
    border-radius: 10px !important;
}

::ng-deep .panelBotonParticiparVotacion:after {
	-webkit-transition: all 0.3s !important;
	-moz-transition: all 0.3s !important;
	transition: all 0.3s !important;
}

::ng-deep .panelBotonParticiparVotacion:before {
	-webkit-font-smoothing: antialiased !important;
}

::ng-deep .panelBotonParticiparVotacion:active {
    top: -13.5px !important;
    box-shadow: none !important;
}

::ng-deep .fechaVotacion {
    padding: 8px !important;
    margin: auto !important;
}

::ng-deep .containerElementosVotacion {
    width: 100%;
    height: 90%;
    margin-top: 10%;
    overflow: scroll;
}

::ng-deep .divElementoVotacion {
    display: flex;
    height: 20%;
}

::ng-deep .elementoVotacion {
    margin: auto;
    width: 80%;
    display: flex;
}

::ng-deep .iconElementoVotacion {
    height: 100%;
    width: 20%;
}

::ng-deep .textElementoVotacion {
    height: 100%;
    width: 65%;
    position: flex;
}

::ng-deep .actionElementoVotacion {
    height: 100%;
    width: 15%;
    position: relative;
}

::ng-deep .iconDivElementoVotacion {
    text-align: center;
    height: 40px;
    width: 40px;
    background-color: #DCF6F5;
    border-radius: 15px;
    margin-top: 5px;
    margin-left: 5px;
}

::ng-deep .iconVotacion {
    font-size: 25px;
    padding-top: 7.5px;
    color: #272343; 
}


::ng-deep .firstTextElementoVotacion {
    width: 100% !important;
    height: 60%;
    color: white;
    font-size: 20px;
}

::ng-deep .secondTextElementoVotacion {
    width: 100% !important;
    height: 40%;
    color: gray;
    font-size: 16px;
}

::ng-deep .secondTextElementoVotacionDescripcion {
    width: 100% !important;
    height: 60%;
    color: gray;
    font-size: 16px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

::ng-deep .actionDivElementoVotacion {
    position: absolute;
    right: 0;
    margin-top: 10px;
    height: 30px;
    width: 30px;
    background-color: #DCF6F5;
    border-radius: 10px;
    text-align: center;
}

::ng-deep .rowOpciones2 {
    display: flex !important;
    flex-wrap: wrap !important;
    width: 100% !important;
    color: #B9B9B9 !important; 
    font-size: 13px !important;
}

::ng-deep .opcionBox {
    width: 46% !important;
    height: 75px !important;
    margin-left: 2% !important;
    margin-right: 2% !important;
    margin-bottom: 10px !important;
    line-height: 20px !important;
    font-size: 13px !important;
    padding: 0px 15px !important;
    border-radius: 15px !important;
    color: #272343 !important;
    text-align: center !important;
}


::ng-deep .opcionText{
    text-align: center !important;
    height: 75px !important;
    margin-top: 0px !important;
    margin-bottom: 5px !important;
    display: flex !important;
}

::ng-deep .textoLabelOpcion {
    margin: auto !important;
}

::ng-deep .opcionBox0 {
    background-color: rgba(208,216,176,0.7);
}
::ng-deep .opcionBox1 {
    background-color: rgba(204,176,208,0.7);
}
::ng-deep .opcionBox2 {
    background-color: rgba(226,197,151,0.7);
}
::ng-deep .opcionBox3 {
    background-color: rgba(201,199,210,0.7);
}
::ng-deep .opcionBox4 {
    background-color: rgba(220,164,177,0.7);
}
::ng-deep .opcionBox5 {
    background-color: rgba(237,234,181,0.7);
}

::ng-deep .cardColorOpcion0 {
    background-color: #B4AEE5;
}
::ng-deep .cardColorOpcion1 {
    background-color: #88AD45;
}
::ng-deep .cardColorOpcion2 {
    background-color: #FF99AA;
}
::ng-deep .cardColorOpcion3 {
    background-color: #F3CA40;
}
::ng-deep .cardColorOpcion4 {
    background-color: #7C9EB2;
}
::ng-deep .cardColorOpcion5 {
    background-color: #CE6C47;
}


  ::ng-deep .pageLogin {
    height: 100%;
    background-color: #173446;
    position: relative;
    overflow: hidden;
  }

  ::ng-deep .pageChangePasswd {
    height: 100%;
    position: relative;
    overflow: hidden;
  }


  ::ng-deep .panelBotonLogin {
    width: 100%;
    height: 30% !important;
    display: flex;
    position: relative;
    /* z-index: 100; */
  }
  
  ::ng-deep .botonLogin {
    margin: auto;
    width: 80%;
    height: 50px;
    background-color: #DCF6F5;
    border-radius: 25px;
    display: flex;
    position: relative;
  }
  
  ::ng-deep .activeBotonLogin {
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: 25px;
    background-color: #DCF6F5;
    animation: activeBoton 0.5s ease-in-out 0.5s backwards;
  }
  
  @keyframes activeBoton {
    0% {  width: 80%;}
    100% {width: 50px;}
  }
  
  ::ng-deep .divExplosionBotonLogin {
    position: absolute;
    display: flex;
    width: 100%;
    height: 15%;
    top: 75%;
    animation: activeExplosionDiv 0.8s ease-in-out 0s backwards;
  }
  
  @keyframes activeExplosionDiv {
    0% {
      height: 15%;
      top: 75%;
      left: 0%;
      width: 100%;
    }
    100% {
      height: 165%;
      top: 0%;
      left: -50%;
      width: 200%;
    }
  }
  
  ::ng-deep .explosionBotonLogin {
    height: 50px;
    width: 50px;
    border-radius: 25px;
    background-color: #DCF6F5;
    margin: auto;
    animation: activeExplosion 0.8s ease-in-out 0s backwards;
  }
  
  @keyframes activeExplosion {
    0% {
      width: 50px;
      height: 50px;
    }
    100% {
      width: 800px;
      height: 800px;
      border-radius: 400px;
    }
  }
  
  ::ng-deep .buttonLabelDiv {
    width: 100% !important;
    height: 100%;
    position: absolute;
    display: flex;
    top: 0;
    left: 0;
  }
  
  ::ng-deep .buttonLabel {
    margin: auto;
    font-weight: bold;
    color: #272343;
  }
  
  ::ng-deep .divSpinnerLogin {
    margin: 2.5px;
    height: 45px;
    width: 45px;
  }
  
  ::ng-deep .spinnerLogin {
    opacity: 0;
  }
  
  ::ng-deep .activeSpinnerLogin {
    opacity: 1;
    transition:opacity 0.5s linear;
    transition-delay: 0.75s;
  }