<div class="containerWaitingPage">
    <div class="containerTextPasswordVotacion">
        <div *ngIf="!admin" class="textAlteracion">
            Debes introducir tu contraseña<br>para poder participar en la votación
        </div>
        <div *ngIf="admin" class="textAlteracion">
            Debes introducir tu contraseña<br>para poder iniciar la votación
        </div>
    </div>
    <div class="containerInputPasswordVotacion">
        <div class="divPasswordVotacion">
            <mat-form-field class="fieldFormPasswd" [ngClass]="errors['passwd'] ? 'errorPasswd' : ''">   
                <mat-label>Contraseña</mat-label>
                <div class="divPasswdForm">
                    <input type="password" id="inputPasswd" class="inputForm inputFormMinus" matInput [(ngModel)]="passwd" name="passwd" (change)="deleteError()">
                    <i class="fas fa-eye eyeIcon" (click)="showHidePasswd()"></i>
                </div> 
            </mat-form-field>
            <div *ngIf="errors['passwd']" class="errorDescrip">
                <span>{{errorTypes[errors['passwd']]}}</span>
            </div>
        </div>
    </div>
    <div class="containerBotonPasswordVotacion">
        <div class="buttonDivAlteracionOnly">
            <button mat-stroked-button color="warn" class="buttonAlteracion buttonVotacionAlteracionOnly" (click)="sendPasswd()">
                <span class="botonAlteracionLabel">Confirmar</span>
            </button>
        </div>
    </div>
</div>