.containerTextPasswordVotacion {
    width: 100%;
    height: 30%;
    display: flex;
}

.containerInputPasswordVotacion {
    width: 80%;
    margin-left: 10%;
    height: 50%;
}

.divPasswordVotacion {
    width: 100%;
    height: 50%;
    padding-top: 25%;
}

.containerBotonPasswordVotacion {
    width: 100%;
    height: 20%;
}

::ng-deep .divPasswdForm {
    position: relative;
}

::ng-deep .eyeIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #B9B9B9;
}

::ng-deep .fieldFormPasswd {
    width: 100% !important;
}

::ng-deep .errorPasswd .mat-form-field-underline {
    background-color: #C25744 !important;
}

::ng-deep .errorDescrip {
    margin-top: -15px;
    margin-bottom: 2%;
    display: block;
    color: #C25744;
    font-size: 11px;
    text-align: justify;
}