<div class="contentVotacion allContent100">
    <div class="panelVotacion">
        <div class="panelSuperiorVotacion">
            <div class="panelBotonesVotacion">
                <div *ngIf="!home" class="divBotonBackVotacion" routerLink="/listadoVotaciones">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
                <div *ngIf="home" class="divBotonBackVotacion" routerLink="/home">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
                <div *ngIf="admin && votacion.estado == 'Creada' && !editing" class="divBotonPlayVotacion" [routerLink]="['/iniciarVotacion', codigo]">
                    <i class="fas fa-play botonPlayVotacion"></i>
                </div>
                <div *ngIf="admin && votacion.estado == 'Activa'" class="divBotonPlayVotacion" [routerLink]="['/iniciarVotacion', codigo]">
                    <i class="fas fa-play botonPlayVotacion"></i>
                </div>
            </div>
            <mat-card class="panelPreguntaVotacion">
                <textarea *ngIf="!modificarPregunta" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="votacion.pregunta" [readonly]="true"></textarea>
                <textarea *ngIf="modificarPregunta" cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="copyPregunta"></textarea>
                <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="modifyPreguntaVotacion" (click)="modifyPregunta()">
                    <i class="fas fa-pen actionVotacionPen"></i>
                </div>
                <div *ngIf="admin && votacion.estado == 'Creada' && modificarPregunta" class="confirmPreguntaVotacion" (click)="guardarPregunta()">
                    <i class="fas fa-check fechaVotacionPen"></i>
                </div>
                <div *ngIf="admin && votacion.estado == 'Creada' && modificarPregunta" class="cancelPreguntaVotacion" (click)="cancelarPregunta()">
                    <i class="fas fa-times fechaVotacionPen"></i>
                </div>
            </mat-card>
        </div>
        <mat-card class="panelInferiorVotacion">
            <mat-card class="panelFechaVotacion">
                <label class="fechaVotacion">{{votacion.f_votacion | date: 'mediumDate'}}</label>
                <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="modifyFechaVotacion" (click)="openDialog('editarFecha')">
                    <i class="fas fa-pen fechaVotacionPen"></i>
                </div>
            </mat-card>
            <mat-card *ngIf="admin" class="panelEstadoVotacion" [class]="'panelEstadoVotacion' + votacion.estado">
                <label class="fechaVotacion">{{votacion.estado}}</label>
            </mat-card>
            <mat-card *ngIf="!admin && votacion.estado == 'Activa' && participa" 
            class="panelBotonParticiparVotacion" (click)="rutar()">
                <label class="fechaVotacion">Participar</label>
            </mat-card>
            <div class="containerElementosVotacion">
                <div class="divElementoVotacion">
                    <div class="elementoVotacion">
                        <div class="iconElementoVotacion" (click)="openDialog('descripcion')">
                            <div class="iconDivElementoVotacion">
                                <i class="fas fa-info-circle iconVotacion"></i>
                            </div>
                        </div>
                        <div class="textElementoVotacion" (click)="openDialog('descripcion')">
                            <div class="firstTextElementoVotacion">
                                Descripción
                            </div>
                            <div *ngIf="votacion.descripcion != ''" class="secondTextElementoVotacionDescripcion">
                                {{votacion.descripcion}}
                            </div>
                            <div *ngIf="votacion.descripcion == ''" class="secondTextElementoVotacionDescripcion">
                                <i>Sin descripción</i>
                            </div>
                        </div>
                        <div class="actionElementoVotacion">
                            <div *ngIf="!admin || votacion.estado != 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('descripcion')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('editarDescripcion')">
                                <i class="fas fa-pen actionVotacionPen"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('descripcion')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divElementoVotacion">
                    <div class="elementoVotacion">
                        <div class="iconElementoVotacion">
                            <div *ngIf="listaDepartamentos[votacion.departamento]" class="iconDivElementoVotacion" [ngStyle]="{'background-color': listaDepartamentos[votacion.departamento].color}">
                                <i class="fas" [ngClass]="[listaDepartamentos[votacion.departamento].icon, listaDepartamentos[votacion.departamento].iconDpt+'Votacion']"></i>
                            </div>
                        </div>
                        <div class="textElementoVotacion">
                            <div class="firstTextElementoVotacion">
                                Departamento
                            </div>
                            <div class="secondTextElementoVotacion">
                                {{votacion.departamento}}
                            </div>
                        </div>
                        <div class="actionElementoVotacion">
                            <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('editarDepartamento')">
                                <i class="fas fa-pen actionVotacionPen"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divElementoVotacion">
                    <div class="elementoVotacion">
                        <div class="iconElementoVotacion">
                            <div class="iconDivElementoVotacion" [class]="'iconDpt' + votacion.ambito">
                                <i *ngIf="votacion.ambito == 'Pública'"  class="fas fa-users iconVotacionAmbito"></i>
                                <i *ngIf="votacion.ambito == 'Privada'" class="fas fa-lock iconVotacionAmbito"></i>
                                <i *ngIf="votacion.ambito == 'Departamento'" class="fas fa-sitemap iconVotacionAmbito"></i>
                                <i *ngIf="votacion.ambito == 'Oculta'" class="fas fa-eye-slash iconVotacionAmbito"></i>
                            </div>
                        </div>
                        <div class="textElementoVotacion">
                            <div class="firstTextElementoVotacion">
                                Ámbito
                            </div>
                            <div class="secondTextElementoVotacion">
                                {{votacion.ambito}}
                            </div>
                        </div>
                        <div class="actionElementoVotacion">
                            <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('editarAmbito')">
                                <i class="fas fa-pen actionVotacionPen"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divElementoVotacion">
                    <div class="elementoVotacion">
                        <div class="iconElementoVotacion">
                            <div *ngIf="votacion.estado != 'Finalizada'" class="iconDivElementoVotacion" (click)="openDialog('opciones')">
                                <i class="fas fa-question-circle iconVotacion"></i>
                            </div>
                            <div *ngIf="votacion.estado == 'Finalizada'" class="iconDivElementoVotacion" [routerLink]="['/resultados', codigo]">
                                <i class="fas fa-question-circle iconVotacion"></i>
                            </div>
                        </div>
                        <div class="textElementoVotacion">
                            <div *ngIf="votacion.estado != 'Finalizada'" class="firstTextElementoVotacion" (click)="openDialog('opciones')">
                                Opciones
                            </div>
                            <div *ngIf="votacion.estado == 'Finalizada'" class="firstTextElementoVotacion" [routerLink]="['/resultados', codigo]">
                                Resultados
                            </div>
                            <div class="secondTextElementoVotacion">
                                {{votacion.opciones}} opciones
                            </div>
                        </div>
                        <div class="actionElementoVotacion">
                            <div *ngIf="!admin && votacion.estado == 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('opciones')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                            <div *ngIf="votacion.estado == 'Activa'" class="actionDivElementoVotacion" (click)="openDialog('opciones')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                            <div *ngIf="votacion.estado == 'Finalizada'" class="actionDivElementoVotacion" [routerLink]="['/resultados', codigo]">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('editarOpciones')">
                                <i class="fas fa-pen actionVotacionPen"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('opciones')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="divElementoVotacion">
                    <div class="elementoVotacion">
                        <div class="iconElementoVotacion" (click)="openDialog('participantes')">
                            <div class="iconDivElementoVotacion">
                                <i class="fas fa-user-friends iconVotacionAmbito"></i>
                            </div>
                        </div>
                        <div class="textElementoVotacion" (click)="openDialog('participantes')">
                            <div class="firstTextElementoVotacion">
                                Participantes
                            </div>
                            <div class="secondTextElementoVotacion">
                                {{votacion.participantes}} participantes
                            </div>
                        </div>
                        <div class="actionElementoVotacion">
                            <div *ngIf="!admin || votacion.estado != 'Creada'" class="actionDivElementoVotacion" (click)="openDialog('participantes')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && !modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('editarParticipantes')">
                                <i class="fas fa-pen actionVotacionPen"></i>
                            </div>
                            <div *ngIf="admin && votacion.estado == 'Creada' && modificarPregunta" class="actionDivElementoVotacion" (click)="openDialog('participantes')">
                                <i class="fas fa-angle-right actionVotacion"></i>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </mat-card>
    </div>
</div>

    