
.backgroundLoginImage {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-image: url('src\assets\icons\loginBackground.jpeg');
  background-size: cover;
  opacity: 0.5;
  /* opacity: 0.7; */
}

.panelLogoLogin {
  position: absolute;
  top: 0;
  width: 100%;
  height: 50%;
  display: flex;
}

.logoLogin {
  margin: auto;
  width: 90%;
}

.panelDatosLogin {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 50%;
}

.panelInputsLogin {
  width: 100%;
  height: 50% !important;
}

.divInputsLogin {
  width: 80%;
  margin: 2.5% 10%;
  height: 40%;
}

.panelForgetLogin {
  width: 100%;
  height: 20% !important;
  display: flex;
}

.divForgetLogin {
  margin: auto;
  padding-bottom: 40px;
  color: #A8ABA8;
  font-size: 14px;
}

.eyeIcon {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 18px;
  color: #B9B9B9;
}