<mat-form-field class="fieldFormAncho">
  <mat-label>Teléfono</mat-label>
  <input type="tel" class="inputForm" matInput [(ngModel)]="data.telefono" name="telefono">
</mat-form-field>
<br>
<mat-form-field class="fieldFormAncho">
  <mat-label>Correo electrónico</mat-label>
  <input type="email" class="inputForm" matInput [(ngModel)]="data.mail" name="mail">
</mat-form-field>
<br>
<mat-form-field class="fieldFormAncho">
  <mat-select class="inputForm" placeholder="Departamento" [(ngModel)]="data.departamento" name="departamento">  
    <mat-option *ngFor="let dpt of departamentos" [value]="dpt">{{dpt}}</mat-option>
  </mat-select>   
</mat-form-field>
<br>
<mat-form-field class="fieldFormAncho">
  <mat-label>Cargo</mat-label>
  <input class="inputForm" matInput [(ngModel)]="data.cargo" name="cargo">
</mat-form-field>