.titleDialogoDesplegable {
    font-size: 23px;
    font-weight: bold;
    margin-top: 30px;
    margin-bottom: 10px;
    text-align: center;
}

.contentDialogoDesplegable {
    padding: 20px 40px 20px 40px !important;
    text-align: justify;
}

.opcionDialogoDesplegable {
    padding: 15px 5px;
    display: flex;
}

.numeroOpcionDialogoDesplegable {
    width: 10%;
}

.textoOpcionDialogoDesplegable {
    width: 90%;
    margin: 0px;
}

.inputOpcionDialogoDesplegableModify {
    width: 75%;
    margin: 0px;
    outline: 0;
    background-color: transparent;
    border: none;
}

.botonEliminarOpcionDialogoDesplegable {
    width: 15%;
    margin: 0px;
    padding-left: 25px;
    display: flex;
}

.iconMinusDialogoDesplegable {
    margin: auto;
}

::ng-deep .iconDptDivDialogoDesplegable {
    width: 20%;
    margin: auto;
    padding-left: 10px;
}

::ng-deep .datosDivDialogoDesplegable {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    padding-left: 10px;
}

::ng-deep .iconDptDialogoDesplegable {
    font-size: 15px;
    padding-top: 10px;
    color: black;
}

::ng-deep .iconDptSquareDialogoDesplegable {
    width: 35px;
    height: 35px;
    text-align: center;
    vertical-align: middle;
    border-radius: 15px;
    margin-right: 0px;
}



::ng-deep .nameUser {
    width: 100%;
    font-weight: bold;
    
}

::ng-deep .cargoUser {
    width: 100%;
    font-size: 14px;
    color: #999696;
}

.modifyDescripcionVotacion {
    width: 100%;
    background-color: transparent;
    border: none;
    text-align: justify;
    outline: none;
    /* position: absolute;
    top: 0; */
    resize: none;
}

.divBotonModifyVotacion {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 20px;
}

.divBotonConfirmarModifyVotacion {
    background-color: rgba(175, 222, 164,0.8);
    right: 20px !important;
}

::ng-deep .divBotonCancelarModifyVotacion {
    background-color: rgba(222, 172, 164,0.8);
    left: 20px !important;
}

.gridRadioButtonsVotacion {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.elementGridRadioButtonsVotacion {
    width: 50%;
    padding-left: 20px;
    padding-top: 10px;
}

.elementGridRadioButtonsVotacion2 {
    width: 50%;
    padding-left: 40px;
    padding-top: 10px;
}

::ng-deep .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle {
    border-color: #D1967D !important;
}

::ng-deep .mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple {
    background-color: #D1967D !important;
}

.contentOptionDialogoDesplegable {
    width: 100%;
    max-height: 400px;
    overflow: scroll;
}