<div class="addDatosPanelParticipantesFiltro allContent85">
    <div class="formContainer menuZonaFiltro">
        <div class="menuOrdenNewVotacion">
            <label class="fieldForm totalParticipantes">Total participantes: {{total}}</label>
        </div>
        <div class="menuFiltroNewVotacion" (click)="openDialog()">
            <i class="fas fa-sliders-h filterIcon" (click)="openDialog()"></i>
        </div>
    </div>
</div>

<div class="addDatosPanelParticipantesLista">
    <div class="divLetra" *ngFor="let inicial of users | keyvalue">
        <div class="containerDptoNewParticipante">
            <label class="inicialListaUsers">{{inicial.key | uppercase}}</label>
        </div>
        <div class="containerValores" id="usersDpt{{inicial.key}}">
            <div *ngFor="let user of inicial.value; let i = index">
                <mat-checkbox id="checkbox-{{inicial.key}}-{{i}}" class="userDivVotacion" (click)="selection(user.dni)" [(ngModel)]="selected[user.dni]" [disabled]="disabled">
                    <div class="userData">
                        <div class="iconDptVotacion">
                            <div class="iconDptSquareVotacion" [ngStyle]="{'background-color': listaDepartamentos[user.departamento].color}">
                                <i class="fas" [ngClass]="[listaDepartamentos[user.departamento].icon, listaDepartamentos[user.departamento].iconDpt]"></i>
                            </div>
                        </div>
                        <div class="datosDivVotacion">
                            <div class="nameUser">
                                {{user.nombre}} {{user.apellidos}}
                            </div>
                            <div class="cargoUser">
                                {{user.cargo}}
                            </div>
                        </div>
                    </div>
               </mat-checkbox>
            </div>
        </div>
    </div>
</div>
