<div class="scrollOptions">
  <div class="formContainer">
    <mat-form-field class="fieldForm">
      <textarea class="inputForm" style="resize: none;" matInput placeholder="Pregunta" rows=2></textarea>
    </mat-form-field>
    <br>
    <mat-form-field class="fieldForm">
      <mat-select class="inputForm" placeholder="Departamento">
        <mat-option value="Administracion">Administración</mat-option>
        <mat-option value="Marketing">Marketing</mat-option>
        <mat-option value="Contabilidad">Contabilidad</mat-option>
        <mat-option value="Direccion">Dirección</mat-option>
      </mat-select>
    </mat-form-field>
    <br>
    <mat-form-field class="fieldForm">
      <mat-label>Fecha de votación</mat-label>
      <input matInput [matDatepicker]="picker">
      <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
      <mat-datepicker #picker></mat-datepicker>
    </mat-form-field>
    <br>
    <mat-form-field class="fieldForm fieldFormAmbito">
      <mat-select class="inputForm" [(value)]="selected" placeholder="Ámbito">
        <mat-option value="Publica">Pública</mat-option>
        <mat-option value="Departamento">Departamento</mat-option>
        <mat-option value="Privada">Privada</mat-option>
        <mat-option value="Oculta">Oculta</mat-option>
      </mat-select>
    </mat-form-field>
    <div class="ambitoDescrip">
      <span>{{ambitoDescripcion[selected]}}</span>
    </div>
    <mat-form-field class="fieldForm">
      <textarea class="inputForm" style="resize: none;" matInput placeholder="Descripción" rows=5></textarea>
    </mat-form-field>
    <br>
  </div>
</div>