<div class="dialogoFiltro">
    <div class="grupoBotonesFiltro">
        <div class="divBotonFiltro">
          <button mat-stroked-button color="warn" class="buttonFiltro buttonFiltroL" (click)="filtrar()">Filtrar</button>
        </div>
        <div class="divBotonFiltro">
          <button mat-stroked-button color="warn" class="buttonFiltro buttonFiltroR" (click)="limpiar()">Limpiar filtros</button>
        </div>
    </div>
    <div class="grupoFiltro">
        <mat-form-field class="inputFiltro">
          <mat-label>Búsqueda por pregunta</mat-label>
          <input class="inputForm inputFiltroVot" matInput [(ngModel)]="copyPregunta">
        </mat-form-field>
    </div>
    <hr class="hrFiltro"/>
    <div class="grupoFiltro">
        <label class="labelFiltro">Estado</label>
        <div class="gridFiltro">
            <mat-checkbox *ngFor="let estado of copyEstados | keyvalue; let i = index;" class="checkboxFiltro" 
            [ngClass]="i % 2 == 0 ? 'elementGridFiltro' : 'elementGridFiltro2'" [(ngModel)]="copyEstados[estado.key]">
                {{estado.key}}
            </mat-checkbox>
        </div>  
    </div>
    <hr class="hrFiltro"/>
    <div class="grupoFiltro">
        <label class="labelFiltro">Ámbito</label>
        <div class="gridFiltro">
            <mat-checkbox *ngFor="let ambito of copyAmbitos | keyvalue; let i = index;" class="checkboxFiltro" 
            [ngClass]="i % 2 == 0 ? 'elementGridFiltro' : 'elementGridFiltro2'" [(ngModel)]="copyAmbitos[ambito.key]">
                {{ambito.key}}
            </mat-checkbox>
        </div>  
    </div>
    <hr class="hrFiltro"/>
    <div class="grupoFiltro">
        <label class="labelFiltro">Departamento</label>
        <div class="gridFiltro" >
          <mat-checkbox *ngFor="let departamento of copyDepartamentos | keyvalue; let i = index;" class="checkboxFiltro" 
          [ngClass]="i % 2 == 0 ? 'elementGridFiltro' : 'elementGridFiltro2'" [(ngModel)]="copyDepartamentos[departamento.key]">
              {{departamento.key}}
            </mat-checkbox>
        </div>  
    </div>
</div>