<div class="pageChangePasswd">
    <div class="divBotonLogoutChangePasswd" (click)="logout()">
        <i class="fas fa-power-off botonBackVotante"></i>
    </div>
    <div class="containerIconChangePasswd">
        <div class="circuloPuntosChangePasswd">
            <div class="divIconChangePasswd" [ngClass]="changed ? 'divIconChangePasswdRotate' : ''">
                <i class="fas fa-key iconChangePasswd"></i>
            </div>
            <div class="divIconChangePasswdCheck" [ngClass]="changed ? 'divIconChangePasswdCheckRotate' : ''">
                <i class="fas fa-check iconChangePasswd"></i>
            </div>
        </div>
    </div>
    <div class="containerDatosChangePasswd">
        <div class="divDescripcionChangePasswd">
            <div class="titleChangePasswd">
                Cambio de contraseña
            </div>
            <div class="descripcionChangePasswd">
                Debes cambiar la contraseña, ya que la que se te ha asignado es temporal y poco segura.
            </div>
        </div>
        <div class="divInputsChangePasswd">
            <div class="divFieldChangePasswd">
                <mat-form-field class="divInputsLogin">   
                    <mat-label>Nueva contraseña</mat-label>
                    <div class="divPasswdForm">
                        <input type="text" id="inputPasswd1" autocomplete="off" class="inputForm inputFormMinus notShowPasswd" matInput [(ngModel)]="newPasswd" maxlength=30 (change)="removeError('nueva')">
                        <i class="fas fa-eye eyeIcon" (click)="showHidePasswd(1)"></i>
                    </div> 
                  </mat-form-field>
                  <div *ngIf="errors['nueva']" class="errorDescrip">
                    <span>{{errorTypes.nueva[errors['nueva']]}}</span>
                  </div>
            </div>
            <div class="divFieldChangePasswd">
                <mat-form-field class="divInputsLogin">   
                    <mat-label>Repetir contraseña</mat-label>
                    <div class="divPasswdForm">
                        <input type="text" id="inputPasswd2" autocomplete="off" class="inputForm inputFormMinus notShowPasswd" matInput [(ngModel)]="repPasswd" maxlength=30 (change)="removeError('repetir')">
                        <i class="fas fa-eye eyeIcon" (click)="showHidePasswd(2)"></i>
                    </div> 
                </mat-form-field>
                <div *ngIf="errors['repetir']" class="errorDescrip">
                    <span>{{errorTypes.repetir[errors['repetir']]}}</span>
                </div>
            </div>
        </div>
        <div class="divBotonChangePasswd">
            <div class="botonChangePasswd" (click)="change()">
                <div class="botonLabelChangePasswd">
                    Cambiar contraseña
                </div>
            </div>
        </div>
    </div>
</div>