.containerIconChangePasswd {
    display: flex;
    width: 100%;
    height: 35%;
}

.circuloPuntosChangePasswd {
    margin: auto;
    display: flex;
    width: 130px;
    height: 130px;
    border-radius: 65px;
    border: 3px dotted #D1967D;
    opacity: 1;
    position: relative;
}

.divIconChangePasswd {
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
    border-radius: 50px;
    background-color: #D1967D;
    top: 12px;
    left: 12px;
    z-index: 100;
    position: absolute;
}

.divIconChangePasswdCheck {
    margin: auto;
    display: flex;
    width: 100px;
    height: 100px;
    top: 12px;
    left: 12px;
    border-radius: 50px;
    z-index: -1;
    position: absolute;
    background-color: #D1967D;
    transform: rotateY(180deg);
}

.divIconChangePasswdRotate {
    z-index: -1;
    animation: move 1.5s ease-in-out 0.5s backwards;
}

.divIconChangePasswdCheckRotate {
    z-index: 100;
    transform: rotateY(360deg);
    animation: moveCheck 1.5s ease-in-out 0.5s backwards;
}

@keyframes move {
    0% {
        z-index: 100;
        transform: rotateY(0deg);
      }
      100% {
        z-index: -1;
        transform: rotateY(180deg);
      }
}

@keyframes moveCheck {
    0% {
        z-index: -1;
        transform: rotateY(180deg);
      }
      100% {
        z-index: 100;
        transform: rotateY(360deg);
      }
}

.iconChangePasswd {
    margin: auto;
    font-size: 40px;
    color: #272343;
}

.containerDatosChangePasswd {
    width: 80%;
    margin-left: 10%;
    height: 65%;
}

.divDescripcionChangePasswd {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 30%;
}

.titleChangePasswd {
    width: 100%;
    height: 30%;
    margin: auto;
    text-align: center;
    font-size: 20px;
    color: gray;
    font-weight: bold;
    margin-bottom: 10px;
}

.descripcionChangePasswd {
    width: 100%;
    height: 70%;
    font-size: 15px;
    margin: auto;
    text-align: center;
    color: #DCF6F5;
}

.divInputsChangePasswd {
    width: 100%;
    height: 50%;
    padding-bottom: 7.5%;
    padding-top: 7.5%;
}

.eyeIcon {
    position: absolute;
    top: 0;
    right: 0;
    font-size: 18px;
    color: #B9B9B9;
  }

.divFieldChangePasswd {
    width: 100%;
    height: 50%;
}

.divInputsLogin {
    width: 100%;
}

.divBotonChangePasswd {
    width: 100%;
    height: 22%;
}

.botonChangePasswd {
    margin: auto;
    width: 100%;
    height: 50px;
    /* background-color: #D1967D; */
    background-color: #DCF6F5;
    border-radius: 25px;
    display: flex;
    position: relative;
}

.botonLabelChangePasswd {
    margin: auto;
    font-weight: bold;
    color: #272343;
  }

.divBotonLogoutChangePasswd {
    text-align: center;
    width: 40px;
    height: 40px;
    border-radius: 20px;
    position: absolute;
    top: 15px;
    background-color: rgba(224,222,237,1);
    right: 15px !important;
}

::ng-deep .errorDescrip {
    margin-top: -15px;
    margin-bottom: 2%;
    display: block;
    color: #C25744;
    font-size: 11px;
    text-align: justify;
}