<div class="allContent85 encabezadoVotante">
    <div class="containerDivIconUser">
        <div class="iconDptDivUser">
            <div *ngIf="listaDepartamentos[usuario.departamento]" class="iconDptSquareVotante" [ngStyle]="{'background-color': listaDepartamentos[usuario.departamento].color}">
                <i class="fas" [ngClass]="[listaDepartamentos[usuario.departamento].icon, listaDepartamentos[usuario.departamento].iconDpt+'Votante']"></i>
            </div>
        </div>
    </div>
    <div class="containerNombreUser">
        <div class="nombreVotante">
            {{usuario.nombre}} {{usuario.apellidos}}
        </div>
    </div>
    <div *ngIf="!profile" class="divBotonModify divBotonBackModify" routerLink="/users">
        <i class="fas fa-angle-left botonBackVotante"></i>
    </div>
    <div *ngIf="!profile" class="divBotonModify divBotonEditarVotante" (click)="modify()">
        <i class="fas fa-pen botonEditarVotante"></i>
    </div>
    <div *ngIf="profile" class="divBotonModify divBotonEditarVotanteLeft" (click)="modify()">
        <i class="fas fa-pen botonEditarVotante"></i>
    </div>
    <div *ngIf="profile" class="divBotonModify divBotonEditarVotante" (click)="logout()">
        <i class="fas fa-power-off botonBackVotante"></i>
    </div>
</div>

<div class="allContent85 panelUserDatos">
    <label class=" headerDatosVotante">Datos</label>
    <div class="datosVotante">
        <div class="elementoVotante">
            <i class="fas fa-id-card iconVotante"></i>
            {{usuario.DNI}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-phone iconVotante"></i>
            {{usuario.telefono}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-envelope iconVotante"></i>
            {{usuario.mail}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-building iconVotante"></i>
            {{usuario.departamento}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-sitemap iconVotante"></i>
            {{usuario.cargo}}
        </div>
        <hr class="hrVotante"/>
        <div class="elementoVotante">
            <i class="fas fa-calendar-plus iconVotante"></i>
            {{usuario.f_registro | date: 'fullDate' | titlecase}}
        </div>
    </div>
    
    <label class="headerDatosVotante">Contraseña</label>
    <div class="datosVotante" [ngClass]="showPasswdState && usuario.clavePublica == null ? 'errorPasswdState' : ''">
        <div *ngIf="!showPasswdState || usuario.clavePublica != null" class="elementoVotante">
            <i class="fas fa-key iconVotante"></i>
            ********
        </div>
        <div *ngIf="showPasswdState && usuario.clavePublica == null" class="elementoVotante">
            <i class="fas fa-key iconVotante"></i>
            <span>Todavia no ha cambiado su contraseña</span>
        </div>
    </div>
</div>