<div class="contentVotacion allContent100">
    <div class="panelVotacion">
        <div class="panelSuperiorVotar">
            <div class="panelBotonesVotacion">
                <div class="divBotonBackVotacion" [routerLink]="['/votacion', codigo]" [queryParams]="{home: false}">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
            </div>
            <mat-card class="panelPreguntaVotacion">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="pregunta" [readonly]="true"></textarea>
            </mat-card>
        </div>
        <mat-card class="panelInferiorVotar" *ngIf="!waiting && !alteracion && !error">
            <div class="containerStart">
                <div class="containerNumberStart">
                    <b class="numberStart">{{completed}} de {{total}}<br>participantes conectados</b>
                </div>
                <div class="containerBarraStart">
                    <p><ngb-progressbar type="success" [value]="progress"></ngb-progressbar></p>
                </div>
                
                <div class="containerDNIStart">
                    <div class="{{classSizeNormal}}" *ngFor="let part of lista | keyvalue; let i = index" [ngClass]="i==0 ? classSizeTop : (i==total-1 ? classSizeBottom : '')">
                        <div class="DNIStart">
                            <span class="textDNIStart">
                                <div class="pointDNIStart" [ngClass]="part.value ? 'pointDNIStartC' : 'pointDNIStartNC'"></div>
                                {{part.key}}
                            </span>
                            <span class="divButtonStart">
                                <img *ngIf="!part.value" class="imgStart {{campanas[part.key]}}" src="assets\icons\campana.png" (click)="notificar(part.key)">
                            </span>
                        </div>
                        <!-- {{part.connected}} -->
                    </div>
                </div>
                <!-- <button  *ngIf="canStart" (click)="start()">Start</button><br> -->
            </div>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="waiting">
            <app-wait class="containerStart"></app-wait>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="alteracion">
            <app-alteracion class="containerStart"></app-alteracion>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="error">
            <app-error class="containerStart"></app-error>
        </mat-card>
    </div>
</div>

