<div class="contentVotacion allContent100">
    <div class="panelVotacion">
        <div class="panelSuperiorVotar">
            <div class="panelBotonesVotacion">
                <div *ngIf="password" class="divBotonBackVotacion" (click)="back()">
                    <i class="fas fa-angle-left botonBackVotacion"></i>
                </div>
                <div *ngIf="!alteracion && !error && !stop && !password" class="divBotonStopVotacion" (click)="stopVotacion()">
                    <i class="fas fa-stop botonStopVotacion"></i>
                </div>
            </div>
            <mat-card class="panelPreguntaVotacion">
                <textarea cdkTextareaAutosize #autosize="cdkTextareaAutosize" cdkAutosizeMinRows="1" cdkAutosizeMaxRows="3" 
                class="preguntaVotacion" [(ngModel)]="pregunta" [readonly]="true"></textarea>
            </mat-card>
        </div>
        <mat-card class="panelInferiorVotar" *ngIf="!password && !waiting && !alteracion && !error && !stop">
            <div class="containerStart">
                <div class="containerNumberStart">
                    <b class="numberStart">{{completed}} de {{total}}<br>participantes conectados</b>
                </div>
                <div class="containerBarraStart">
                    <p><ngb-progressbar class="progressBarStart" type="success" [value]="progress"></ngb-progressbar></p>
                </div>
                
                <div class="containerDNIStart">
                    <div class="divDNIStart" [ngClass]="canStart ? 'containerDNIStartOff' : ''">
                        <div class="{{classSizeNormal}}" *ngFor="let part of lista | keyvalue; let i = index" [ngClass]="i==0 ? classSizeTop : (i==total-1 ? classSizeBottom : '')">
                            <div class="DNIStart">
                                <span class="textDNIStart">
                                    <div class="pointDNIStart" [ngClass]="part.value ? 'pointDNIStartC' : 'pointDNIStartNC'"></div>
                                    {{part.key}}
                                </span>
                                <span class="divButtonStart">
                                    <img *ngIf="!part.value" class="imgStartCampana {{campanas[part.key]}}" src="assets\icons\campana.png" (click)="notificar(part.key)">
                                </span>
                            </div>
                        </div>
                    </div>
                    <div class="divDNIButtonStart" [ngClass]="canStart ? 'containerDNIStartOn' : ''">
                        <div class="divImgButtonStart">
                            <img class="imgStart" [src]="clicked ? 'assets/icons/play-click.png' : 'assets/icons/play.png'" (click)="start()">
                        </div>
                        <div class="divTextButtonStart">
                            <div class="containerTextsStart">
                                <p [ngClass]="canStart ? 'text1ButtonStart' : ''">Pulse aquí para</p>
                                <p [ngClass]="canStart ? 'text2ButtonStart' : ''">iniciar la votación</p>
                            </div>
                        </div>
                    </div>
                </div>  
            </div>
        </mat-card>
        <mat-card [codigo]="codigo" class="panelInferiorVotar" *ngIf="password">
            <app-password class="containerStart"></app-password>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="waiting">
            <app-wait class="containerStart"></app-wait>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="alteracion">
            <app-alteracion [codigo]="codigo" class="containerStart"></app-alteracion>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="error">
            <app-error [codigo]="codigo" class="containerStart"></app-error>
        </mat-card>
        <mat-card class="panelInferiorVotar" *ngIf="stop">
            <app-stop [codigo]="codigo" class="containerStart"></app-stop>
        </mat-card>
    </div>
</div>

