::ng-deep .containerStart {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    height: 100%;
}


.containerNumberStart {
    width: 70%;
    margin-left: 15%;
    height: 20%;
    display: flex;
}

.containerBarraStart {
    width: 80%;
    margin-left: 10%;
    height: 15%;
}

.containerDNIStart {
    width: 80%;
    height: 60%;
    margin-left: 10%;
    margin-bottom: 10%;
    overflow: scroll;
    position: relative;
}

.divDNIStart {
    width: 100%;
    height: 100%;
    opacity: 1;
    visibility: visible;
    position: absolute;
    z-index: 2;
}

.divDNIButtonStart {
    width: 100%;
    height: 100%;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    z-index: 1;
    display: flex;
    flex-wrap: wrap;
}

.divTextButtonStart {
    width: 55%;
    height: 100%;
    display: flex;
}

.containerTextsStart {
    height: 100px;
    width: 100%;
    margin: auto;
}

.text1ButtonStart {
    color: #CFCFCF;
    font-size: 18px;
    margin: 0px;
    margin-top: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(44) 0.5s 1 normal both;
}

.text2ButtonStart {
    color: #CFCFCF;
    font-size: 18px;
    margin: 0px;
    margin-bottom: 20px;
    white-space: nowrap;
    overflow: hidden;
    animation: typewriter 2s steps(44) 1s 1 normal both;
}

@keyframes typewriter{
  from{width: 0;}
  to{width: 24em;}
}


.divImgButtonStart {
    width: 45%;
    height: 100%;
    display: flex;
}

.containerDNIStartOff {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.containerDNIStartOn {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s 0.5s linear;
}

.userStart {
    width: 100%;
    height: 16.66%;
    display: flex;
}

.userStart3 {
    width: 100%;
    height: 20%;
    display: flex;
}
.userStartTop3 {
    margin-top: 20%;
}
.userStartBottom3 {
    margin-bottom: 20%;
}

.userStart4 {
    width: 100%;
    height: 20%;
    display: flex;
}
.userStartTop4 {
    margin-top: 10%;
}
.userStartBottom4 {
    margin-bottom: 10%;
}

.userStart5 {
    width: 100%;
    height: 16.66%;
    display: flex;
}
.userStartTop5 {
    margin-top: 8.33%;
}
.userStartBottom5 {
    margin-bottom: 8.33%;
}

.DNIStart {
    margin: auto 0;
    display: flex;
    flex-wrap: wrap;
    width: 100%;
}

.textDNIStart {
    text-align: center;
    width: 65%;
    color: #CFCFCF;
}

.divButtonStart {
    text-align: center;
    width: 35%;
    padding-left: 5%;
}

.DNIconected {
    color: #7FDC91;
}

.DNInotConected {
    color: #F4664D;
}

.imgStart {
    width: 60px;
    height: 60px;
    margin: auto;
}

.imgStartCampana {
    width: 20px;
    height: 20px;
}

.imgConexionStart {
    width: 10px;
    height: 10px;
}

.activarCampanaStart {
    animation: moveCampana 1s ease-in 0s;
}


@keyframes moveCampana {
    0% {
        transform: rotateZ(0deg);
    }
    25% {
        transform: rotateZ(40deg);
    }
    75% {
        transform: rotateZ(-40deg);
    }
    100% {
        transform: rotateZ(0deg);
    }
}

.ocultarCampanaStart {
    visibility: hidden;
    opacity: 0;
    transition: visibility 0s 0.5s, opacity 0.5s linear;
}

.aparecerCampanaStart {
    visibility: visible;
    opacity: 1;
    transition: opacity 1s 0.5s linear;
}

.pointDNIStart {
    display: inline-block;
    margin-right: 10px;
    width: 7px;
    height: 7px;
    border-radius: 3.5px;
}

.pointDNIStartC {
    box-shadow: 0px 0px 5px 0px #A5E18B;
    background-color: #8EF064
}

.pointDNIStartNC {
    box-shadow: 0px 0px 5px 0px #DA8A7C;
    background-color: #DA5C46
}

.numberStart {
    font-size: 18px;
    color: #dcf6f5;
    margin: auto;
    text-align: center;
}

::ng-deep .progress {
    background-color: #CFCFCF;
    border-radius: 50rem;
}

::ng-deep .bg-success {
    background-color: #D1967D !important;
}

