<div class="pageChangePasswd">
    <div class="containerIconChangePasswd">
        <div class="circuloPuntosChangePasswd">
            <div class="divIconChangePasswd" [ngClass]="changed ? 'divIconChangePasswdRotate' : ''">
                <i class="fas fa-key iconChangePasswd"></i>
            </div>
            <div class="divIconChangePasswdCheck" [ngClass]="changed ? 'divIconChangePasswdCheckRotate' : ''">
                <i class="fas fa-check iconChangePasswd"></i>
            </div>
        </div>
    </div>
    <div class="containerDatosChangePasswd">
        <div class="divDescripcionChangePasswd">
            <div class="titleChangePasswd">
                Cambio de contraseña
            </div>
            <div class="descripcionChangePasswd">
                Debes cambiar la contraseña, ya que la que se te ha asignado es temporal y poco segura.
            </div>
        </div>
        <div class="divInputsChangePasswd">
            <mat-form-field class="divInputsLogin PasswordLogin">   
                <mat-label>Nueva contraseña</mat-label>
                <div class="divPasswdForm">
                    <input type="password" id="inputPasswd1" class="inputForm inputFormMinus" matInput>
                    <i class="fas fa-eye eyeIcon" (click)="showHidePasswd(1)"></i>
                </div> 
              </mat-form-field>
              <mat-form-field class="divInputsLogin PasswordLogin">   
                <mat-label>Repetir contraseña</mat-label>
                <div class="divPasswdForm">
                    <input type="password" id="inputPasswd2" class="inputForm inputFormMinus" matInput>
                    <i class="fas fa-eye eyeIcon" (click)="showHidePasswd(2)"></i>
                </div> 
              </mat-form-field>
        </div>
        <div class="divBotonChangePasswd">
            <div class="botonChangePasswd" (click)="change()">
                <div class="botonLabelChangePasswd">
                    Cambiar contraseña
                </div>
            </div>
        </div>
    </div>
</div>