<div class="titlePanel">
    <label class="titlePanelH2">Listado de votantes</label>
  </div>
<div class="subtitlePanel allContent85">
    <div class="formContainer menuZonaFiltro">
        <div class="menuOrden">
            <mat-form-field class="fieldForm">
              <mat-select class="inputForm" placeholder="Orden" [(ngModel)]="order" (selectionChange)=select()>
                <mat-option value="Descendente">Descendente</mat-option>
                <mat-option value="Ascendente">Ascendente</mat-option>
              </mat-select>
            </mat-form-field>
        </div>
        <div class="menuFiltro">
            <i class="fas fa-sliders-h filterIcon" (click)="openDialog()"></i>
        </div>
    </div>
</div>

<div class="listadoPanel">
    <div class="formContainer divLetra" *ngFor="let inicial of iniciales">
        <div class="containerDptoNewParticipante">
            <label class="inicialListaUsers">{{inicial | uppercase}}</label>
        </div>
        <div id="usersDpt{{inicial}}">
            <div *ngFor="let user of users[inicial]" class="userDiv" [routerLink]="['/user', user.dni]" [queryParams]="{profile: false}"> 
                <div class="iconDptDiv">
                    <div class="iconDptSquare" [ngStyle]="{'background-color': listaDepartamentos[user.departamento].color}">
                        <i class="fas" [ngClass]="[listaDepartamentos[user.departamento].icon, listaDepartamentos[user.departamento].iconDpt]"></i>
                    </div>
                </div>
                <div class="datosDiv">
                    <div class="nameUser">
                        {{user.nombre}} {{user.apellidos}}
                    </div>
                    <div class="cargoUser">
                        {{user.cargo}}
                    </div>
                </div>
                
            </div>
        </div>
    </div>
</div>
<div class="containerBotonNuevoUser">
    <div class="divBotonNuevoUser" routerLink="/nuevoUser" [class.mat-elevation-z4]="true">
        <i class="fas fa-plus botonNuevoUser"></i>
    </div>
</div>
