<mat-form-field class="fieldFormAncho">
  <mat-label>Nombre</mat-label>
  <input class="inputForm" matInput [(ngModel)]="data.nombre" name="nombre">
</mat-form-field>
<br>
<mat-form-field class="fieldFormAncho">
  <mat-label>Apellidos</mat-label>
  <input class="inputForm" matInput [(ngModel)]="data.apellidos" name="apellidos">
</mat-form-field>
<br>
<mat-form-field class="fieldFormAncho">
  <mat-label>DNI</mat-label>
  <input class="inputForm" matInput [(ngModel)]="data.DNI" name="DNI">
</mat-form-field>
<br>
<mat-form-field class="fieldFormPasswd">   
  <mat-label>Contraseña temporal</mat-label>
  <div class="divPasswdForm">
      <input type="password" id="inputPasswd" class="inputForm inputFormMinus" matInput [(ngModel)]="data.passwd" name="passwd">
      <i class="fas fa-eye eyeIcon" (click)="showHidePasswd()"></i>
  </div> 
</mat-form-field>
<div class="passwdDescrip">
  <span>La contraseña será usada por el usuario solo para el primer acceso.</span>
</div>