.rowOpciones2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #B9B9B9; 
    font-size: 13px;
}

.opcionBox {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    padding: 5%;
    border: 0.5px solid #B9B9B9 !important;
}