.rowOpciones2 {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    color: #B9B9B9; 
    font-size: 13px;
}

.opcionBox {
    width: 46%;
    margin-left: 2%;
    margin-right: 2%;
    height: 60px;
    line-height: 20px;
    font-size: 13px;
    padding: 0px 5px;
    /*box-shadow: 2px 2px 5px 1px rgba(185,185,185,0.61);*/
    border-radius: 15px;
    color: #272343;
    text-align: center;
}

.opcionText{
    text-align: center;
    height: 50px;
    margin-top: 5px;
    margin-bottom: 5px; 
    display: flex;
}

.textoLabelOpcion {
    margin: auto;
}

.opcionBox0 {
    background-color: rgba(208,216,176,0.7);
}
.opcionBox1 {
    background-color: rgba(204,176,208,0.7);
}
.opcionBox2 {
    background-color: rgba(226,197,151,0.7);
}
.opcionBox3 {
    background-color: rgba(201,199,210,0.7);
}
.opcionBox4 {
    background-color: rgba(220,164,177,0.7);
}
.opcionBox5 {
    background-color: rgba(237,234,181,0.7);
}
