

.scrollOptions {
    width: 100%; 
    height: 102vw; 
    overflow-x: hidden;
    overflow-x: auto; 
    text-align: justify;
}

.resumenShow{
    margin-bottom: 15px;
    text-align: justify;
    line-height: normal;
    width: 100%;
}
.sublabel {
    margin: 0px;
}

.resumenBig {
    font-size: 17px;
}

.resumenMiddle {
    font-size: 14px;
}

.resumenLittle {
    font-size: 11px;
}

.resumenOrange {
    color: #D1967D;
}

.resumenWhite {
    color: #B9B9B9; 
}

.optionsContainer{
    text-align: justify;
    display: flex;
    flex-wrap: wrap;
}

.optionIndividualDiv{
    flex: 0 50%;
    padding: 0 10px;
}

.participanteIndividual{
    padding: 0 10px;
}