.footer {
    width: 100%;
    height: 10%;
    display: flex;
}

.rowFooter {
    margin: auto;
    display: grid;
    width: 100%;
    height: 100%;
    display: flex;
}

.rowFooter3 {
    padding-left: 10%;
    padding-right: 10%;
}

.item {
    margin: auto;
    width: 20%;
    height: 100%;
    display: flex;
}

.icon-footer-size {
    margin: auto;
    width: 50%;
    outline: 0;
}

.icon-footer-size3 {
    margin: auto;
    width: 62.5%;
    outline: 0;
}