<div class="dialogoFiltro">
    <div class="grupoBotonesFiltro">
      <div class="divBotonFiltro">
        <button mat-stroked-button color="warn" class="buttonFiltro buttonFiltroL" (click)="filtrar()">Filtrar</button>
      </div>
      <div class="divBotonFiltro">
        <button mat-stroked-button color="warn" class="buttonFiltro buttonFiltroR" (click)="limpiar()">Limpiar filtros</button>
      </div>
    </div>
    <div class="grupoFiltro">
      <mat-form-field class="inputFiltro">
        <mat-label>Búsqueda por nombre</mat-label>
        <input class="inputForm" matInput [(ngModel)]="copyNombre">
      </mat-form-field>
      <mat-form-field class="inputFiltro">
        <mat-label>Búsqueda por apellidos</mat-label>
        <input class="inputForm" matInput [(ngModel)]="copyApellidos">
      </mat-form-field>
    </div>
    <hr class="hrFiltro"/>
    <div class="grupoFiltro">
        <mat-form-field class="inputFiltro">
          <mat-label>Búsqueda por cargo</mat-label>
          <input class="inputForm" matInput [(ngModel)]="copyCargo">
        </mat-form-field>
    </div>
    <hr class="hrFiltro"/>
    <div class="grupoFiltro">
        <label class="labelFiltro">Departamento</label>
        <div class="gridFiltro" >
          <mat-checkbox *ngFor="let departamento of copyDepartamentos | keyvalue; let i = index;" class="checkboxFiltro" 
          [ngClass]="i % 2 == 0 ? 'elementGridFiltro' : 'elementGridFiltro2'" [(ngModel)]="copyDepartamentos[departamento.key]">
              {{departamento.key}}
            </mat-checkbox>
        </div>  
    </div>
</div>