<div class="scrollOptions">
    <div class="formContainer fieldForm">
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Nombre</label>
            <label class="textResumen valueResumen">{{nombre}}</label>
        </div>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Apellidos</label>
            <label class="textResumen valueResumen">{{apellidos}}</label>
        </div>
        <div class="rowResumen">
            <label class="textResumen fieldResumenGrande">Nombre de usuario</label>
            <label class="textResumen valueResumenGrande">{{username}}</label>
        </div>
        <hr class="lineaResumen"/>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">DNI</label>
            <label class="textResumen valueResumen">{{dni}}</label>
        </div>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Teléfono</label>
            <label class="textResumen valueResumen">{{tlf}}</label>
        </div>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Correo</label>
            <label class="textResumen valueResumen">{{mail}}</label>
        </div>
        <hr class="lineaResumen"/>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Departamento</label>
            <label class="textResumen valueResumen">{{dpto}}</label>
        </div>
        <div class="rowResumen">
            <label class="textResumen fieldResumen">Cargo</label>
            <label class="textResumen valueResumen">{{cargo}}</label>
        </div>
        <button mat-stroked-button color="warn" class="buttonConfirm">Confirmar</button>
    </div>
</div>
