<div class="panelResumenAddUser">
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Nombre</label>
        <label class="textResumen valueResumen">{{data.personalData.nombre}}</label>
    </div>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Apellidos</label>
        <label class="textResumen valueResumen">{{data.personalData.apellidos}}</label>
    </div>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">DNI</label>
        <label class="textResumen valueResumen">{{data.personalData.DNI}}</label>
    </div>
    <hr class="lineaResumen"/>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Teléfono</label>
        <label class="textResumen valueResumen">{{data.contactData.telefono}}</label>
    </div>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Correo</label>
        <label class="textResumen valueResumen">{{data.contactData.mail}}</label>
    </div>
    <hr class="lineaResumen"/>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Departamento</label>
        <label class="textResumen valueResumen">{{data.contactData.departamento}}</label>
    </div>
    <div class="rowResumen">
        <label class="textResumen fieldResumen">Cargo</label>
        <label class="textResumen valueResumen">{{data.contactData.cargo}}</label>
    </div>
    <div class="rowBotones">
        <div class="columnBoton">
            <button mat-stroked-button color="warn" class="buttonConfirmUser" (click)="confirmUser()">Confirmar</button>
        </div>
        <div class="columnBoton">
            <button mat-stroked-button color="warn" class="buttonCancelUser" (click)="cancelUser()">Cancelar</button>
        </div>
    </div>
</div>