<div class="scrollOptions">
    <div class="formContainer">
      <mat-form-field class="fieldFormFirst">
        <mat-label>DNI</mat-label>
        <input class="inputForm" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="fieldFormMedio">
        <mat-label>Teléfono</mat-label>
        <input type="tel" class="inputForm" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="fieldFormMedio">
        <mat-label>Correo electrónico</mat-label>
        <input type="email" class="inputForm" matInput>
      </mat-form-field>
      <br>
      <mat-form-field class="fieldFormMedio">
        <mat-select class="inputForm" placeholder="Departamento">
          <mat-option value="Administracion">Administración</mat-option>
          <mat-option value="Marketing">Marketing</mat-option>
          <mat-option value="Contabilidad">Contabilidad</mat-option>
          <mat-option value="Direccion">Dirección</mat-option>
          <mat-option value="TI">TI</mat-option>
        </mat-select>
      </mat-form-field>
      <br>
      <mat-form-field class="fieldFormMedio">
        <mat-label>Cargo</mat-label>
        <input class="inputForm" matInput>
      </mat-form-field>
      <br>
      <br>
    </div>
  </div>
